<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>{% if docTitle %} {{ docTitle }} — {% endif %}Foyer Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Foyer Design System" />

    <script>document.documentElement.className = 'js';</script>

    <link rel="shortcut icon"    href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png" />

    <meta name="twitter:card" content="Foyer Design System">
    <meta name="twitter:site" content="@GroupeFoyer">
    <meta name="twitter:creator" content="@GroupeFoyer">
    <meta name="twitter:title" content="Foyer Design System - Foyer Assurances">
    <meta name="twitter:description" content="Explore a Design System made by Foyer Assurances, the first Insurance Company at Luxembourg.">
    <meta name="twitter:image" content="img/twitter-card.jpg">

    <meta property="og:title" content="Foyer Design System - Foyer Assurances" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://design.foyer.lu" />
    <meta property="og:description" content="Explore a Design System made by Foyer Assurances, the first Insurance Company at Luxembourg." />
    <meta property="og:image" content="img/facebook-open-graph.jpg" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
		
    <link rel="stylesheet" href="css/vendor.css">
	<link rel="stylesheet" href="css/main.css">

    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/main.js" async></script>

</head>

<body>
        
        <a href="#main" class="jump-link sr-only sr-focusable">Go to content</a>
        <a href="#menu" class="jump-link sr-only sr-focusable">Go to menu</a>
{#
        #}{% set isHome        = '' %}{#
        #}{% set navHome       = '' %}{#
        #}{% set navGetStarted = '' %}{#


        #}{% set navAbout   = '' %}{#
        #}{% set navWhoIs   = '' %}{#
        #}{% set navWhyDS   = '' %}{#
        #}{% set navWho     = '' %}{#
        #}{% set navContact = '' %}{#

        #}{% set navBranding         = '' %}{#
        #}{% set navDesignPrinciples = '' %}{#
        #}{% set navLogos            = '' %}{#
        #}{% set navColors           = '' %}{#
        #}{% set navTypography       = '' %}{#
        #}{% set navIllustration     = '' %}{#
        #}{% set navMotion           = '' %}{#

        #}{% set navUIElement = '' %}{#
        #}{% set navPanel     = '' %}{#
        #}{% set navGrid      = '' %}{#

        #}{% set navStrategy       = '' %}{#
        #}{% set navOpenInnovation = '' %}{#
        #}{% set navDesignProcess  = '' %}{#
        #}{% set navRoadmap        = '' %}{#
        #}{% set navAPI            = '' %}
