<nav class="doc-nav" role="navigation">

    <div class="doc-nav-logo">
        <img width="147" height="51" src="{{ path_img }}logo-molecule.svg" alt="Foyer Design System" class="doc-logo">
    </div>

    <ul class="doc-main-nav" aria-label="Navigate into Design System sections">

        <li class="{{ navHome }}">
            <a href="index.html">
                <img class="doc-nav-icon" src="{{ path_img }}icon-map-marker.svg" width="24" height="24" alt="">
                Home
            </a>
				</li>
				
    </ul>
</nav>
