{% set docTitle = 'API Development' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% set navStrategy = 'is-active' %}
	{% set navAPI = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">API Development</h1>

			<div class="intro-block">
				<p>We realized that a lot of development were redundant, and we decided to go "service oriented", to work one time on a specific need, and stop reinventing the wheel.</p>
			</div>

			<blockquote>
				<p>Developers realize that much of the functionality they need to build into an app is redundant to what many other companies are toiling over. They’ve learned not to expend precious resources on reinventing the wheel but instead to rely on APIs from the larger platforms, such as Salesforce, Amazon and, more recently, specialized developers. We’re still in the early innings of this shift to third-party APIs, but a number of promising examples illustrate how developers can turn to companies such as Stripe and Plaid for payment connectivity, Twilio for telephony, Factual for location-based data and Algolia for site search.</p>
				<p><cite>Techcunch</cite> - <em>"The Rise of APIs"</em> (<a href="https://techcrunch.com/2016/05/21/the-rise-of-apis/">source</a>)</p>
			</blockquote>

			<div class="toc">
				<p id="toc-title" class="h3-like">Table of Content</p>
				<ul aria-labelledby="toc-title">
					<li>
						<a href="#api">API Work In Progress</a>
					</li>
					<li>
						<a href="#features">Task focused: The Features</a>
					</li>
					<li>
						<a href="#design-system">What about the Design System?</a>
					</li>
				</ul>
			</div>



			<h2 class="h2-like" id="api">API Work In Progress</h2>

			<p>Reinventing the wheel every time you have to work on something is not efficient. Not at all. At Foyer we listened to the developers and product owners. We worked together to rework the existing ecosystem: a lot of technical debt, and it's totally normal regarding the almost one century of existance of Foyer.</p>

			<p><abbr title="Applications Programming Interface">API</abbr>s are the best solution to build micro-services and move business complexity to a single location to centralize complex insurance rules. API are building by each Domain Team and orchestrated under the Scrum Framework to allow quickly delivery and short loop of improvement.</p>

			<p>While we are working on the construction of APIs and their testing, we are also working on the construction of independent organisms using these APIs. We name those organisms "Features".</p>

			<h2 class="h2-like" id="features">Task focused: The Features</h2>

			<p>
				Adding a new client in our database is not something simple because there is a lot of way to become a client at Foyer. Read here: there is a lot of application/website that are doing the same job, but not the same way.
			</p>

			<p>
				Our Features' work in progess is here to create efficient way to exploit APIs a certain way, and once for all propose a homogeneous, adapted and unique user experience for all applications.
			</p>

			<p>
				Our Design Processes helped a lot here to build consistent flows all over the different existing and incoming application. We played with several methods like Event Storming to get the big picture of our <span class="la-la-Cthulhu-fhtagn">tentacular</span> organization through all of our domains.<br>
			</p>

			<p>We can't expose those Features today, because of the lack of maturity and feedback. But it's just a matter of time.😉</p>



			<h2 class="h2-like" id="design-system">What about the Design System?</h2>

			<p>
				The Design System is used by the actors of the APIs and Features initiatives like an example of what can be done to mutualize work, and also "physically" as a way to share the work done on features. It became the place where collaborators can find the reference of all the centralized work done at Foyer.
			</p>

			<p>
				It's a good cursor that shows you the Design System has its early adopters and ambassador for furthers new usages. Moreover, it's a demonstration of the need to centralized information at one and unique location to falicitate its use.
			</p>


	
			<h2 class="h2-like text-center">Go further with:</h2>
			<div class="discover row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="features.html" class="disco-1">
						<p class="h3-like">Features</p>
						<p>What others call organism, we call them features.</p>
					</a>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="open-innovation.html" class="disco-2">
						<p class="h3-like">Open Innovation</p>
						<p>The Foyer Strategy for a Digital Company.</p>
					</a>
				</div>
			</div>


		</main>

		{% include  'partials/html-footer.html' %}
	</div>
</div>
	</body>
</html>
