{% set docTitle = 'Colors' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

    {% set navBranding = 'is-active' %}
    {% set navColors = 'is-active' %}
    {% include 'partials/navigation.html' %}

    <div class="doc-main">
        <main class="fds">
            <h1 class="h1-like">Colors</h1>

            <div class="intro-block">
                <p>The <strong>Colors</strong> are a big part of the Foyer identity. They are also useful for all the messages displayed over our interfaces. Here is an inventory to keep consistency.</p>
            </div>

            <p>
                Colors are used everywhere in our interfaces. Depending on where you will cross the path of Foyer Group, you will surely meet one of our palette.
            </p>

            <h2 class="h2-like">Brand Colors</h2>

            <p>
                The brand colors are the ones you will meet on official documents, communication, website and applications. They are also part of the other palettes you will find throughout this document.
            </p>

            <div class="doc-color-detail-panel">
            </div>
            <div class="doc-color-detail-panel-back"></div>

            <div class="doc-color-shade">

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-blue-foyer-light">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">blue-foyer-light</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block is-main">
                    <div class="doc-color-block-example u-is-bg-blue-foyer">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">blue-foyer</div>
                        <div class="doc-color-block-details-hexa"></div>

                        <div class="doc-color-more-details">
                            <p>This is the main brand color of Foyer. This blue is used to the single color logo and also as the first color of some of our gradients. The light and dark versions are used at some point for emphasis and interaction purpose.</p>

                            <p class="doc-data">
                                <span class="doc-data-label">Design Token</span>
                                <span class="doc-data-value">blue-foyer</span>
                            </p>

                            <p class="doc-data">
                                <span class="doc-data-label">Hexa</span>
                                <span class="doc-data-value">#004C92</span>
                            </p>

                            <p class="doc-data">
                                <span class="doc-data-label">RGB</span>
                                <span class="doc-data-value">0, 76, 146</span>
                            </p>
                            
                            <p id="detail-blue-foyer" class="h3-like">Color compatibilities</p>

                            <table aria-describedby="detail-blue-foyer">
                                <thead>
                                    <tr>
                                        <th scope="col">Color</th>
                                        <th scope="col">Contrast</th>
                                        <th scope="col">Pass AA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="u-is-bg-blue-foyer"></span></td>
                                        <td>8.6:1</td>
                                        <td>✔️</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-blue-foyer-dark">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">blue-foyer-dark</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

            </div>

            <br>

            <div class="doc-color-shade">

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-blue-smoke-light">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">blue-smoke-light</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block is-main">
                    <div class="doc-color-block-example u-is-bg-blue-smoke">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">blue-smoke</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-blue-smoke-dark">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">blue-smoke-dark</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

            </div>

            <br>

            <div class="doc-color-shade">

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-blue-ghost-light">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">blue-ghost-light</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block is-main">
                    <div class="doc-color-block-example u-is-bg-blue-ghost">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">blue-ghost</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-blue-ghost-dark">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">blue-ghost-dark</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

            </div>

            <br>

            <div class="doc-color-shade">

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-yellow-lighter">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">yellow-lighter</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-yellow-light">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">yellow-light</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block is-main">
                    <div class="doc-color-block-example u-is-bg-yellow">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">yellow</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-yellow-dark">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">yellow-dark</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

            </div>

            <h2 class="h2-like">System Colors</h2>

            <div class="doc-color-shade">

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-info-lighter">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">info-lighter</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-info-light">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">info-light</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block is-main">
                    <div class="doc-color-block-example u-is-bg-info">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">info</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-info-dark">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">info-dark</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

            </div>

            <br>

            <div class="doc-color-shade">

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-danger-lighter">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">danger-lighter</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-danger-light">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">danger-light</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block is-main">
                    <div class="doc-color-block-example u-is-bg-danger">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">danger</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-danger-dark">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">danger-dark</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

            </div>

            <br>

            <div class="doc-color-shade">

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-warning-lighter">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">warning-lighter</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-warning-light">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">warning-light</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block is-main">
                    <div class="doc-color-block-example u-is-bg-warning">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">warning</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-warning-dark">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">warning-dark</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

            </div>

            <br>

            <div class="doc-color-shade">

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-success-lighter">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">success-lighter</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-success-light">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">success-light</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block is-main">
                    <div class="doc-color-block-example u-is-bg-success">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">success</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

                <div class="doc-color-block">
                    <div class="doc-color-block-example u-is-bg-success-dark">
                    </div>
                    <div class="doc-color-block-details">
                        <div class="doc-color-block-details-var">success-dark</div>
                        <div class="doc-color-block-details-hexa"></div>
                    </div>
                </div>

            </div>

            <h2 class="h2-like">Grey Scale</h2>

            <div class="doc-color-grid">

                <div class="doc-color-shade">

                    <div class="doc-color-block ">
                        <div class="doc-color-block-example u-is-bg-grey-050"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">grey-050</div>
                            <div class="doc-color-block-details-hexa"></div>
                        </div>
                    </div>

                    <div class="doc-color-block ">
                        <div class="doc-color-block-example u-is-bg-grey-500"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">grey-500</div>
                            <div class="doc-color-block-details-hexa"></div>
                        </div>
                    </div>

                    <div class="doc-color-block ">
                        <div class="doc-color-block-example u-is-bg-grey-800"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">grey-800</div>
                            <div class="doc-color-block-details-hexa"></div>
                        </div>
                    </div>

                </div>

            </div>

            <h2 class="h2-like">Black & White</h2>

            <div class="doc-color-grid">
                <div class="doc-color-shade">
                    <div class="doc-color-block">
                        <div class="doc-color-block-example u-is-bg-white"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">white</div>
                            <div class="doc-color-block-details-hexa"></div>
                        </div>
                    </div>

                    <div class="doc-color-block">
                        <div class="doc-color-block-example u-is-bg-black"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">black</div>
                            <div class="doc-color-block-details-hexa"></div>
                        </div>
                    </div>

                </div>
            </div>

            <h2 class="h2-like">Gradients</h2>

            <div class="doc-color-grid">
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-blue-primary"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">blue-primary</div>
                            <div class="doc-color-block-details-gradient">#004C92 > #086DCA</div>
                        </div>
                    </div>

                </div>
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-blue-secondary"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">blue-secondary</div>
                            <div class="doc-color-block-details-gradient">#479CE8 > #3973E6</div>
                        </div>
                    </div>

                </div>
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-blue-tertiary"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">blue-tertiary</div>
                            <div class="doc-color-block-details-gradient">#4EABFF > #0F8DFF</div>
                        </div>
                    </div>

                </div>
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-blue-quaternary"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">blue-quaternary</div>
                            <div class="doc-color-block-details-gradient">#388CD9 > #0C77D9</div>
                        </div>
                    </div>

                </div>
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-blue-quinary"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">blue-quinary</div>
                            <div class="doc-color-block-details-gradient">#004C92 > #0083C4</div>
                        </div>
                    </div>

                </div>
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-blue-complete"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">blue-complete</div>
                            <div class="doc-color-block-details-gradient">#4EABFF > #0F8DFF > #388CD9 > #0C77D9</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="doc-color-grid">
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-orange-primary"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">orange-primary</div>
                            <div class="doc-color-block-details-gradient">#FF8B00 > #FF9E00</div>
                        </div>
                    </div>

                </div>
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-orange-secondary"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">orange-secondary</div>
                            <div class="doc-color-block-details-gradient">#D97500 > #D98600</div>
                        </div>
                    </div>

                </div>
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-orange-complete"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">orange-complete</div>
                            <div class="doc-color-block-details-gradient">#FF9E00 > #FF8B00 > #D98600 > #D97500</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="doc-color-grid">
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-red-primary"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">red-primary</div>
                            <div class="doc-color-block-details-gradient">#FF5A5F > #FF97F7F</div>
                        </div>
                    </div>

                </div>
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-red-secondary"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">red-secondary</div>
                            <div class="doc-color-block-details-gradient">#D74B50 > #E26969</div>
                        </div>
                    </div>

                </div>
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-red-complete"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">red-complete</div>
                            <div class="doc-color-block-details-gradient">#F97F7F > #FF5A5F > #E26969 > #D74B50</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="doc-color-grid">
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-green-primary"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">green-primary</div>
                            <div class="doc-color-block-details-gradient">#00B698 > #00DCC9</div>
                        </div>
                    </div>

                </div>
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-green-secondary"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">green-secondary</div>
                            <div class="doc-color-block-details-gradient">#1DC68D > #48BBB1</div>
                        </div>
                    </div>

                </div>
                <div class="doc-color-shade">

                    <div class="doc-color-block is-gradient">
                        <div class="doc-color-block-example u-is-bg-gradient-green-complete"></div>
                        <div class="doc-color-block-details">
                            <div class="doc-color-block-details-var">green-complete</div>
                            <div class="doc-color-block-details-gradient">#00DCC9 > #00B698 > #00B698 > #0F8E79</div>
                        </div>
                    </div>

                </div>
            </div>
        </main>

        {% include  'partials/html-footer.html' %}
    </div>
</div>
</body>
</html>
