{% set docTitle = 'Contact' %}
{% include  'partials/html-header.html' %}

<div class="documentation">
	
	{% set navAbout = 'is-active' %}
	{% set navContact = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">Contact the team</h1>

			<div class="intro-block">
				<p>Our System need you to evolve. Don't hesitate to contact one of our collaborators.</p>
			</div>

			<p>Several persons are involved in the project: core team, marketing, communication, UX team. Here are some key persons you can contact.</p>

			<dl aria-label="People you can contact about Design System">
				<dt>Head of UX</dt>
				<dd>
					<p>
						<strong>Steven LOZACH</strong><br>
						<a href="mailto:steven.lozach@foyer.lu">steven.lozach@foyer.lu</a>
					</p>
					<p>
						You can contact Steven for further information about UX Processes and history on Agile and UX Teams evolution within Foyer.
					</p>
				</dd>

				<dt>Lead Design System</dt>
				<dd>
					<p>
						<strong>Geoffrey CROFTE</strong><br>
						<a href="mailto:geoffrey.crofte@foyer.lu">geoffrey.crofte@foyer.lu</a>
					</p>
					<p>
						You can contact Geoffrey for further information on this System, the process of building it, the issues encountered and the solutions found, or the current <a href="roadmap.htmk" class="todo">roadmap</a>.
					</p>
				</dd>

				<dt>Contact Press</dt>
				<dd>
					<strong>Alice BODART</strong><br>
					<a href="mailto:alice.bodart@foyer.lu">alice.bodart@foyer.lu</a>
				</dd>

				<p>
					You can contact Alice is you need more information on the communication around this Design System topic, or for other needs related to the Press.
				</p>
			</dl>

			<h2 class="h2-like text-center">Go further with:</h2>
			<div class="discover row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="who-are-our-users.html" class="disco-1">
						<p class="h3-like">What is Foyer?</p>
						<p>You may not know Foyer Group. Context!</p>
					</a>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="why-a-design-system.html" class="disco-2">
						<p class="h3-like">Why a Design System?</p>
						<p>Want to know our approach. Follow us.</p>
					</a>
				</div>
			</div>

		</main>

		{% include  'partials/html-footer.html' %}
	</div>
</div>
	</body>
</html>
