{% set docTitle = 'Design Principles' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% set navBranding = 'is-active' %}
	{% set navDesignPrinciples = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">Design Principles</h1>

			<div class="intro-block">
				<p>Design Principles are our core principles that guide design decision and help us keeping consistency</p>
			</div>

			<p>
				
			</p>

			<h2 class="h2-like">Our Principles</h2>

			<blockquote class="is-big">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi velit sit inventore ab est a sequi nemo quam sint facilis possimus animi quod esse iusto laudantium ex, et tempore neque.
				</p>
			</blockquote>

			<h2 class="h2-like text-center">Go further with:</h2>
			<div class="discover row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="who-are-our-users.html" class="disco-1">
						<p class="h3-like">What is Foyer?</p>
						<p>You may not know Foyer Group. Context!</p>
					</a>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="why-a-design-system.html" class="disco-2">
						<p class="h3-like">Why a Design System?</p>
						<p>Want to know our approach. Follow us.</p>
					</a>
				</div>
			</div>

		</main>

		{% include  'partials/html-footer.html' %}
	</div>
</div>
	</body>
</html>
