{% set docTitle = 'Design Process' %}
{% include  'partials/html-header.html' %}

<div class="documentation" data-root>

	{% set navStrategy = 'is-active' %}
	{% set navDesignProcess = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">

			<h1 class="h1-like with-illu">
				<span>Design Process</span>
				<img src="{{ path_img }}illu-process.svg" class="illu" alt="">
			</h1>

			<div class="intro-block">
				<p>Since 2016, Agile and Design have made their way within the company. Processes are still in constant evolution.</p>
			</div>

			<p>
				Habits are hard to change. When your company is as old as Foyer Assurances, changes have to be made with baby steps.
			</p>

			<div class="toc">
				<p id="toc-title" class="h3-like">Table of Contents</p>
				<ul aria-labelledby="toc-title">
					<li>
						<a href="#global">Global Design Process</a>
					</li>
					<li>
						<a href="#ds-process">Design System Process</a>
					</li>
					<li>
						<a href="#contribution">Contribution Model</a>
					</li>
				</ul>
			</div>

			<h2 class="h2-like" id="global">Global Design Process</h2>

			<p>
				Project within the company are not at the same level of maturity: some of those are too old not to be completely reworked, some of those are just starting, and there is a whole spectrum between those two states. Agile and Design Team are working together to tend to the following model.
			</p>

			<div class="can-overflow u-is-bg-white">
				<img src="img/design-process-en.png" srcset="img/design-process-en@2x.png 2x" width="769" height="456" alt="Our ideal design process">
			</div>

			<h2 class="h2-like" id="ds-process">Design System Process</h2>

			<p>
				The first version of our Design System have been built on an inventory of existing interface elements. While building this base, new items were needed by our development teams. We had to work on a process to be able to acknowledge the workload due to new requests.
			</p>

			<h3 class="h3-like" id="design-dor">Design Definition of Ready</h3>

			<p>This Definition of Ready is made for the FDS components before making them on Figma or other design tool.</p>

			<ul>
				<li>The component to be made doesn't already exist,</li>
				<li>The component to be made answers a real use case,</li>
				<li>The component to be made doesn't answer an edge case,</li>
				<li>The context (the need) is well explained and understood,</li>
				<li>The concept of the component to be made is challenged by 2 designers at least,</li>
				<li>JIRA ticket is created and detailed in the <abbr title="Foyer Design System">FDS</abbr> backlog.</li>
				<li>A person is defined as person-to-contact: the person who orders or initiates the task.</li>
				<li>Variations and states of the component are detailled.</li>
				<li>All the usages and interactions of the component are provided.</li>
			</ul>

			<h3 class="h3-like" id="design-dod">Design Definition of Done</h3>

			<p>This Definition of Done is made for the FDS components after making them on Figma and before making going to the development phase. A11y means Accessibility in the items below.</p>
			
			<ul>
				<li>The component is pair designed or has been reviewed.</li>
				<li>The component respect the Brand Font. (DIN Pro at the moment)</li>
				<li>The component respect the Color Palette</li>
				<li>The component respect Color contrast (A11y) - <a href="https://developer.paciellogroup.com/resources/contrastanalyser/">Use Color Contrast Analyzer</a> or <a href="https://color.review/">Color Review</a></li>
				<li>Color is not the only way to convey info. (A11y, <a href="https://www.w3.org/TR/WCAG21/#use-of-color">WCAG 2.1 : 1.4.1</a>)</li>
				<li>Icon is not the only way to convey info. (A11y)</li>
				<li>The component respect the proper Font Sizing (A11y)</li>
				<li>The component respect the Grid System (8px spacing rule)</li>
				<li>The component lists its statuses, states and variants (e.i. small, big, empty, disabled, responsive, error, success)</li>
				<li>The component name respect the convention (naming convention coming soon)</li>
				<li>Visual Documentation is written (at least next to the component within the design tool)</li>
				<li>FDS Dev Team is notified (Slack/Mail)</li>
			</ul>

			<p>Once the element is done visually, the development phase can be started.</p>


			<h3 class="h3-like" id="dev-dor">Development Definition of Ready</h3>

			<p>
				A component is ready to integrate when he validates the following criterias:
			</p>

			<ul>
				<li><a href="#design-dod">Design Definition of Done</a> criterias have been validated.</li>
				<li>A designed screen or a detailled wireframe is provided.</li>
				<li>Browser Support is defined (we have one by default).</li>
				<li>Browser Support is defined (we have one by default).</li>
			</ul>


			<h3 class="h3-like" id="design-dor">Development Definition of Ready</h3>

			<p>
				A compoent is declared as done when it validates the following criterias:
			</p>

			<ul>
				<li>The written code has to match our UI Toolkit Guidelines.</li>
				<li>The code should not increase the technical debt (i.e copy/paste, bad performance, lack of consistency, etc.)</li>
				<li>The work has to be delivered with a documentation for the development and design teams. (guide, demo and usage examples. Variations of the components should be documented)</li>
				<li>The work has been tested and validated on every targetted browsers and devices by the developer.</li>
				<li>The developer has to check and detailled the potential side effect of their intervention, if necessary.</li>
				<li>A second developer did a code review and validated the work done.</li>
				<li>The work has to be validated by a UX Designer to keep the visual consistency.</li>
				<li>The changelog has been updated.</li>
				<li>The team directly impacted (or the one who asked for the task) has been notified by email.</li>
			</ul>


			<h2 class="h2-like" id="contribution">Contribution Model</h2>

			<p>
				
			</p>

			<h3 class="h3-like" id="centralized">Current Team Model: Centralized</h3>

			<blockquote>
				<p>
					A centralized team supports the system with a dedicated group that makes and spreads decisions and parts for other teams to use but may not design any actual products. Maybe they’ve created the design language and system themselves, or maybe they are implementing a vision produced by an outside agency.
				</p>
				<p>
					<cite>Nathan Curtis</cite> - <em>"<a href="https://articles.uie.com/team_models/">Team Models for Scaling a Design System</a>"</em>
				</p>
			</blockquote>

			<p class="margin-big text-center">
				<img src="{{ path_img }}model-centralized.png" srcset="{{ path_img }}model-centralized@2x.png 2x" width="540" height="376" alt="Representation of the Centralized Team Model">
			</p>

			<p>
				We started to build a UI Kit using only one project as test subject. Two designers were centralizing the components (visually and technically).<br>
				Today we are 3 system designers within the core team, 4 soon, centralizing the needs of each project where other Designers are working in scrum teams. We are not dedicated to building the Design System, so we also handle our own projects next to the FDS.
			</p>

			<p>The Federated model is were we would like to go in the near future.</p>


			<h3 class="h3-like" id="federated">Targeted Model: Federated</h3>

			<p>
				The model we tend to reach is the one where designers from multiple product teams decide on the system together: the Federated model.
			</p>

			<blockquote>
				<p>
					We need our best designers on our most important products to work out what the system is and spread it out to everyone else. Without quitting their day jobs on product teams.
				</p>
				<p>
					<cite>Nathan Curtis</cite> - <em>"<a href="https://articles.uie.com/team_models/">Team Models for Scaling a Design System</a>"</em>
				</p>
			</blockquote>

			<p class="margin-big text-center">
				<img src="{{ path_img }}model-federated.png" srcset="{{ path_img }}model-federated@2x.png 2x" width="480" height="376" alt="Representation of the Federated Team Model">
			</p>

			<p>
				Not only the designers, but all the collaborators within the company would be involved into designing and feeding the System.
			</p>

			<p>Some day…</p>

		</main>

		{% include  'partials/html-footer.html' %}

	</div><!-- doc-main -->
</div><!-- documentation -->

	</body>
</html>
