{% include  'partials/html-header.html' %}

<main class="doc-main homepage">

	{% set getStarted = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="fds-hero-banner">
		<div class="container">
			<header role="banner">
				<div class="fds-logo">
					<img src="https://static.foyer.lu/images/d9/logo-fds-molecule.d97e418aa10ea3aae0181ac4b44c9efbdb16a72d.svg" width="146" height="50" alt="Foyer Design System">
				</div>
				<nav role="navigation">
					<ul>
						<li><a href="#copy">Copy</a></li>
						<li><a href="#identity">Identity</a></li>
						<li><a href="#design">Design</a></li>
						<li><a href="#development">Development</a></li>
						<li>
							<a href="get-started.html" class="button">
								<span class="button-text"></span>
								<i class="icon-arrow-right" role="presentation"></i>
							</a>
						</li>
					</ul>
				</nav>
			</header>

			<div class="here-cta">
				<h1>Foyer Design System</h1>
				<p>Helps you make experiences people will love.</p>
				<p>
					<a href="#" class="button ghost light">
						<span class="button-text">Learn more</span>
						<i class="icon-arrow-right" role="presentation"></i>
					</a>
				</p>
			</div>
			
		</div>
	</div>

</main>

{% include  'partials/html-footer.html' %}
