{% set docTitle = 'Get Started' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% set navGetStarted = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">Get Started</h1>

			<div class="intro-block">
				<p>Foyer Design System is targetting different domains of expertise to help people in their daily tasks.</p>
			</div>

			<p>When you work within a company, you end up at some point using, pointing or writing with the tools of the company, on its behalf. Using the right logo, the right colors, the right font face, the right vocabulary and the right tone in your communication is a part of your work. You carry the identity of the brand in a way or another.</p>

			<h2 class="h2-like">What's your profile?</h2>

			<p>You don't really have the same needs regarding your position, your profile and the work you do within the company.</p>

			<dl>
				<dt>Designer</dt>
				<dd>The Designers will focus on the <a href="design-process.html#user-research" class="todo">user research</a> and will need to communicate with the end user. Those users for Foyer can be an agent, a client or someone in the administration. The language used (Voice &amp; Tone) and the results expected are variable regarding the user profile.<br>
				They also work on the visual and desirable aspect of the applications. They need to work on <a href="typography.html">Typography</a>, <a href="colors.html">Colors</a> and all the <a href="design-principles.html">brand aspect</a> to keep a solid identity.</dd>

				<dt>Developer</dt>
				<dd>The Developers will focus on delivering a great experience through performant applications: they usually spend time on speed load, great interactions and <a href="motions.html" class="todo">motions</a>, respect of the <a href="design-principles.html">brand aspect</a> respecting the <a href="design-tokens.html" class="todo">Design Tokens</a>.</dd>

				<dt>Marketing</dt>
				<dd>The Marketing is in constant relation with the clients. They deliver communication assets and campains which need to be consistent through time, media and devices. <a href="logos.html">Logos</a>, <a href="typography.html">Typography</a>, <a href="colors.html">Colors</a>, Voice &amp; Tone and Design Principles are their main tools, within the Design System, for a great communication.</dd>

				<dt>Product Owner &amp; Business Analyst</dt>
				<dd><abbr title="Product Owner">PO</abbr> and <abbr title="Business Analyst">BA</abbr> need to have a better view on how things work in a business and technical point of view to better estimate the time, resources, and budget allocated to the development of features. The Design System help the development team and the Business Analyst evaluate a part of the work required and already done by the Core Team.</dd>
			</dl>

			<h2 class="h2-like">Our roadmap</h2>

			<p>
				This public Design Sytem is only a little part of the whole product. Our System allows us to cover 80% of the needs in term of UI Design and Front-End Development.
			</p>

			<p>
				We decided to publish small parts of the System, little by little, to collect feedback of the public and the usage. Some part are also in work in progress and won't be published yet.<br>
				The same Core Team is working for this public website and on the product used by Foyer's collaborators.
			</p>

			<p><a href="roadmap.html">See our Roadmap</a> for more details.</p>

			<h2 class="h2-like text-center">Go further with:</h2>
			<div class="discover row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="who-are-our-users.html" class="disco-1">
						<p class="h3-like">What is Foyer?</p>
						<p>You may not know Foyer Group. Context!</p>
					</a>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="why-a-design-system.html" class="disco-2">
						<p class="h3-like">Why a Design System?</p>
						<p>Want to know our approach. Follow us.</p>
					</a>
				</div>
			</div>

		</main>

		{% include  'partials/html-footer.html' %}
	</div>
</div>
	</body>
</html>
