{% set docTitle = 'Get Started' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% set navGetStarted = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">Get Started</h1>

			<div class="intro-block">
				<p>Foyer Design System is targetting different domain of expertise to help people on their daily tasks.</p>
			</div>

			<p>When you work within a company, you end up at some point using, pointing or writing with the tools of the company, on its behalf. Using the right logo, the right colors, the right font face and the right vocabulary and tone in your communication is a part of your work. You carry a part of the identity of the brand.</p>

			<h2>What's your profile?</h2>

			<p>You don't really have the same needs regarding your position, your profile and the work you do within the company.</p>

			<ul>
				<li><strong>Designer</strong>: To be defined</li>
				<li><strong>Developer</strong>: To be defined</li>
				<li><strong>Marketing</strong>: To be defined</li>
				<li><strong>Product Owner</strong>: To be defined</li>
				<li><strong>Business Analyst</strong>: To be defined</li>
			</ul>

			<h2 class="h2-like text-center">Go further with:</h2>
			<div class="discover row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="who-are-our-users.html" class="disco-1">
						<p class="h3-like">What is Foyer?</p>
						<p>You may not know Foyer Group. Context!</p>
					</a>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="why-a-design-system.html" class="disco-2">
						<p class="h3-like">Why a Design System?</p>
						<p>Want to know our approach. Follow us.</p>
					</a>
				</div>
			</div>

		</main>

		{% include  'partials/html-footer.html' %}
	</div>
</div>
