{% set docTitle = 'Illustration' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% set navBranding = 'is-active' %}
	{% set navIllustration = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">Illustrations</h1>

			<div class="intro-block">
				<p>Foyer wants to show the diversity of its clients, prospects and collaborators through inclusive, modern and delicate illustrations.</p>
			</div>

			<p style="color: red;">
				During 2019, we started reworking our…
			</p>

			<div class="toc">
				<p id="toc-title" class="h3-like">Table of Content</p>
				<ul aria-labelledby="toc-title">
					<li>
						<a href="#human">Humans and accessories</a>
					</li>
				</ul>
			</div>

			<h2 class="h2-like" id="human">Humans and accessories</h2>


		</main>

		{% include  'partials/html-footer.html' %}

	</div><!-- doc-main -->
</div><!-- documentation -->

	</body>
</html>
