{% set docTitle = 'Illustration' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% set navBranding = 'is-active' %}
	{% set navIllustration = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">Illustrations</h1>

			<div class="intro-block">
				<p>Foyer wants to show the diversity of its clients, prospects and collaborators through inclusive, modern and delicate illustrations.</p>
			</div>

			<p>
				During 2018, we started reworking our imagery, more especially the illustration part. We did rely on dated style from an application that was the first using those old school illustration.<br>
				People likes those, but we needed something more modern, delicate and maintainable. In 2019 our new illustrator Léa joined us and gave a kick to the existing.
			</p>

			<div class="toc">
				<p id="toc-title" class="h3-like">Table of Contents</p>
				<ul aria-labelledby="toc-title">
					<li>
						<a href="#why">Why Illustrating?</a>
					</li>
					<li>
						<a href="how">How to use illustrations?</a>
					</li>
					<li>
						<a href="#human">Humans and accessories</a>
					</li>
				</ul>
			</div>

			<h2 class="h2-like" id="why">Why Illustrating?</h2>
			
			<p>Human nature has always been attracted to story telling. Nothing better than a good story to keep readers awake, whether it's descriptively or visually. In our case, we know insurance is not the passion of everyone. That's why we tend to create a narrative connection with the viewers (user) thanks to beautiful and meaningful illustrations.</p>

			<h3>Entertaining</h3>

			<p>Illustration plays an important role in entertaining readers while they are browsing our application or website. Day-to-day application, or insurance website are not always funny because of the intrinsic aspect of the insurance. Bringing illustrated stories to the user helps in engaging imagination, and makes events and moments memorable.</p>

			<h3>Reassuring</h3>

			<p>While browsing through the meanders of the guarantees (of Foyer Insurance), illustration helps reassuring bringing smooth curves, warm and delicate colors into the user context. The point of view can change from boring to entertaining or confident or even peaceful.</p>

			<ul style="color: red;">
				<li>engagement</li>
				<li>decoration</li>
				<li>contextualisation, etc.</li>
			</ul>


			<h2 class="h2-like" id="how">How to use illustrations?</h2>
			
			<p style="color: red;">TODO</p>
			<ul style="color: red;">
				<li>Concept point of view like: empty state example.</li>
				<li>Visual point of view: DOs and DONTs</li>
				<li>Technical point of view (SVG, why, etc.)</li>
			</ul>


			<h2 class="h2-like" id="human">Humans and accessories</h2>

			<p style="color: red;">A bunch of illustrations as examples.</p>


		</main>

		{% include  'partials/html-footer.html' %}

	</div><!-- doc-main -->
</div><!-- documentation -->

	</body>
</html>
