{% set docTitle = '' %}
{% include  'partials/html-header.html' %}
{% set isHome = 'is-home' %}
{% set navHome = 'is-active' %}
{% include  'partials/navigation.html' %}

<div class="fds-hero-banner" data-root>
	<div class="container">
		<header class="header" role="banner">
			<div class="fds-logo">
				<img src="https://static.foyer.lu/images/d9/logo-fds-molecule.d97e418aa10ea3aae0181ac4b44c9efbdb16a72d.svg" width="146" height="50" alt="Foyer Design System">
			</div>
			<nav class="navigation" role="navigation">
				<ul>
					<li class="nav-item"><a class="nav-link" href="get-started.html">Get started</a></li>
					<li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
					<li>
						<button type="button" id="menu-button" class="menu-button">
							<span class="menu-text">Menu</span>
							<span class="menu-icon"></span>
						</button>
						<!--a href="get-started.html" class="button">
							<span class="button-text">Explore</span>
							<svg class="icon-arrow-right" role="presentation" width="19" height="12" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 12.25L24.4039 12.25L18.2383 18.5325L20.6667 21L31 10.5L20.6667 0L18.2383 2.4675L24.4039 8.75L0 8.75V12.25Z" fill="currentColor"/>
							</svg>
						</a-->
					</li>
				</ul>
			</nav>
		</header>

		<div class="here-cta">
			<h1><span>Foyer</span> Design System</h1>
			<p>Helps you make experiences people will love.</p>
			<p>
				<a href="get-started.html" id="hero-cta" class="button ghost light big">
					<span class="button-text">Explore the System</span>
					<svg class="icon-arrow-right" role="presentation" width="28" height="20" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 12.25L24.4039 12.25L18.2383 18.5325L20.6667 21L31 10.5L20.6667 0L18.2383 2.4675L24.4039 8.75L0 8.75V12.25Z" fill="currentColor"/>
					</svg>
				</a>
			</p>
		</div>
		
	</div>
</div>

<main id="main" class="fds homepage" data-root>

	<section id="guidelines" class="section-light">
		<div class="container">
			<h2 class="h2-like text-center">Foyer <strong>Global Guidelines</strong> &amp; <strong>Design System</strong></h2>

			<p class="subtitle text-center">At Foyer we help our teams build documents, interfaces and copies by following guidelines, principles and best practices.</p>

			<div class="row">
				<div class="col-md-6">
					<div class="card flex">
						<div class="card-illu">
							<img src="{{ path_img }}illu-home-design.svg" width="138" height="138" alt="">
						</div>
						<div class="card-content">
							<h3 class="h3-like">Design Guidelines</h3>
							<p>
								We provide guides to our designers and developers that help keeping consistency, preserving accessibility over devices but also on paper communication.
							</p>
							<p>
								<a href="design-principles.html" class="button home-card-button">
									<span class="button-text">See Design Guidelines</span>
									<svg class="icon-arrow-right" role="presentation" width="19" height="12" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 12.25L24.4039 12.25L18.2383 18.5325L20.6667 21L31 10.5L20.6667 0L18.2383 2.4675L24.4039 8.75L0 8.75V12.25Z" fill="currentColor"/>
									</svg>
								</a>
							</p>
						</div>
					</div><!-- .card -->
				</div><!-- .col-md-6 -->
				<div class="col-md-6">
					<div class="card flex">
						<div class="card-illu">
							<img src="{{ path_img }}illu-home-dev.svg" width="138" height="138" alt="">
						</div>
						<div class="card-content">
							<h3 class="h3-like">Development Guidelines</h3>
							<p>
								We provide a system of well documented components to keep consistency and code quality over our interfaces, improving user experience and accessibility..
							</p>
							<p>
								<a href="interface-grid-system.html" class="button home-card-button">
									<span class="button-text">See Dev. Guidelines</span>
									<svg class="icon-arrow-right" role="presentation" width="19" height="12" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 12.25L24.4039 12.25L18.2383 18.5325L20.6667 21L31 10.5L20.6667 0L18.2383 2.4675L24.4039 8.75L0 8.75V12.25Z" fill="currentColor"/>
									</svg>
								</a>
							</p>
						</div>
					</div><!-- .card -->
				</div><!-- .col-md-6 -->
			</div><!-- .row -->

			<div class="row">
				<div class="col-md-6">
					<div class="card flex">
						<div class="card-illu">
							<img src="{{ path_img }}illu-home-brand.svg" width="138" height="138" alt="">
						</div>
						<div class="card-content">
							<h3 class="h3-like">Identity Guidelines</h3>
							<p>
								We built a centralized database of visual resources based on colors, shapes, and design principles that guide our branding and identity and help on taking decisions.
							</p>
							<p>
								<a href="logos.html" class="button home-card-button">
									<span class="button-text">See Identity Guidelines</span>
									<svg class="icon-arrow-right" role="presentation" width="19" height="12" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 12.25L24.4039 12.25L18.2383 18.5325L20.6667 21L31 10.5L20.6667 0L18.2383 2.4675L24.4039 8.75L0 8.75V12.25Z" fill="currentColor"/>
									</svg>
								</a>
							</p>
						</div>
					</div><!-- .card -->
				</div><!-- .col-md-6 -->
				<div class="col-md-6">
					<div class="card flex">
						<div class="card-illu">
							<img src="{{ path_img }}illu-home-copy.svg" width="138" height="138" alt="">
						</div>
						<div class="card-content">
							<h3 class="h3-like is-gray">Copywriting Guidelines</h3>
							<p>
								The tone and the way we communicate to our different users, and all the humans around our communication matter. We guide our pens to follow the red line.
							</p>
							<p>
								<button type="button" class="button home-card-button" disabled>
									<span class="button-text">Not available yet</span>
									<svg class="icon-arrow-right" role="presentation" width="19" height="12" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 12.25L24.4039 12.25L18.2383 18.5325L20.6667 21L31 10.5L20.6667 0L18.2383 2.4675L24.4039 8.75L0 8.75V12.25Z" fill="currentColor"/>
									</svg>
								</button>
							</p>
						</div>
					</div><!-- .card -->
				</div><!-- .col-md-6 -->
			</div><!-- .row -->
		</div>
	</section>

	<section id="humans" class="section-primary">
		<div class="container">
			<h2 class="h2-like text-center">The <strong>humans behind</strong></h2>

			<p class="subtitle text-center">The <abbr title="Foyer Design System">FDS</abbr> is made by a lot of people,<br>meet the main contributors of the system.</p>

			<ul class="peops">
				<li>
					<div class="peops-image">
						<img src="{{ path_img }}julie-muller.jpg" srcset="{{ path_img }}julie-muller@2x.jpg 2x" width="80" height="80" alt="">
					</div>
					<p>
						<span class="peops-firstname">Julie</span>
						<span class="peops-lastname">Muller</span>
						<span class="peops-job">UX Designer</span>
					</p>
				</li>
				<li>
					<div class="peops-image">
						<img src="{{ path_img }}lea-poisson.jpg" srcset="{{ path_img }}lea-poisson@2x.jpg 2x" width="80" height="80" alt="">
					</div>
					<p>
						<span class="peops-firstname">Léa</span>
						<span class="peops-lastname">Poisson</span>
						<span class="peops-job">Visual Designer</span>
					</p>
				</li>
				<li>
					<div class="peops-image">
						<img src="{{ path_img }}geoffrey-crofte.jpg" srcset="{{ path_img }}geoffrey-crofte@2x.jpg 2x" width="80" height="80" alt="">
					</div>
					<p>
						<span class="peops-firstname">Geoffrey</span>
						<span class="peops-lastname">Crofte</span>
						<span class="peops-job">Lead Design System</span>
					</p>
				</li>
				<li>
					<div class="peops-image">
						<img src="{{ path_img }}matthieu-da-costa.jpg" srcset="{{ path_img }}matthieu-da-costa@2x.jpg 2x" width="80" height="80" alt="">
					</div>
					<p>
						<span class="peops-firstname">Matthieu</span>
						<span class="peops-lastname">Da Costa</span>
						<span class="peops-job">UX/UI Designer</span>
					</p>
				</li>
				<li>
					<div class="peops-image">
						<img src="{{ path_img }}steven-lozach.jpg" srcset="{{ path_img }}steven-lozach@2x.jpg 2x" width="80" height="80" alt="">
					</div>
					<p>
						<span class="peops-firstname">Steven</span>
						<span class="peops-lastname">Lozach</span>
						<span class="peops-job">Head Of UX</span>
					</p>
				</li>
				<li>
					<div class="peops-image">
						<img src="{{ path_img }}jordan-solt.jpg" srcset="{{ path_img }}jordan-solt@2x.jpg 2x" width="80" height="80" alt="">
					</div>
					<p>
						<span class="peops-firstname">Jordan</span>
						<span class="peops-lastname">Solt</span>
						<span class="peops-job">UX Designer</span>
					</p>
				</li>
				<li>
					<div class="peops-image">
						<img src="{{ path_img }}florentin-jakupi.jpg" srcset="{{ path_img }}florentin-jakupi@2x.jpg 2x" width="80" height="80" alt="">
					</div>
					<p>
						<span class="peops-firstname">Florentin</span>
						<span class="peops-lastname">Jakupi</span>
						<span class="peops-job">UI Designer</span>
					</p>
				</li>
				<li>
					<div class="peops-image">
						<img src="{{ path_img }}bastien-collet.jpg" srcset="{{ path_img }}bastien-collet@2x.jpg 2x" width="80" height="80" alt="">
					</div>
					<p>
						<span class="peops-firstname">Bastien</span>
						<span class="peops-lastname">Collet</span>
						<span class="peops-job">Front-End Dev</span>
					</p>
				</li>
				<li>
					<div class="peops-image">
						<img src="{{ path_img }}steven-berquez.jpg" srcset="{{ path_img }}steven-berquez@2x.jpg 2x" width="80" height="80" alt="">
					</div>
					<p>
						<span class="peops-firstname">Steven</span>
						<span class="peops-lastname">Berquez</span>
						<span class="peops-job">UX Designer</span>
					</p>
				</li>
				<li>
					<div class="peops-image">
						<img src="{{ path_img }}laurent-vincent.jpg" srcset="{{ path_img }}laurent-vincent@2x.jpg 2x" width="80" height="80" alt="">
					</div>
					<p>
						<span class="peops-firstname">Laurent</span>
						<span class="peops-lastname">Vincent</span>
						<span class="peops-job">UX Designer</span>
					</p>
				</li>
			</ul>
		</div>
	</section>

	<section id="sharing" class="section-light">
		<div class="container">
			<h2 class="h2-like text-center">Why Sharing Those <strong>Design Guidelines?</strong></h2>
			<p class="subtitle text-center">At Foyer we believe in the benefit of sharing and opening our work.</p>

			<div class="row middle-md">
				<div class="col-md-offset-1"></div>
				<div class="col-md-5 col-xs-12 text-center">
					<img src="{{ path_img }}illu-home-share.svg" with="360" height="360" alt="">
				</div>
				<div class="col-md-5 col-xs-12">
					<p class="text-medium">At Foyer we work by putting the human being at the centre of our attention. We work internally to <strong>improve the experience</strong> of our customers and policyholders. We want to <strong>share our experience</strong>, share what we have learned, present our work to our employees, and get feedback from the outside.</p>

					<p>
						<a href="contact.html" class="button" id="home-contact">
							<span class="button-text">Get in touch</span>
							<svg class="icon-arrow-right" role="presentation" width="19" height="12" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 12.25L24.4039 12.25L18.2383 18.5325L20.6667 21L31 10.5L20.6667 0L18.2383 2.4675L24.4039 8.75L0 8.75V12.25Z" fill="currentColor"/>
							</svg>
						</a>
					</p>
				</div>
			</div><!-- .row -->
		</div>
	</section>
</main>

{% include  'partials/html-footer.html' %}

</body>
</html>

