{% set docTitle = 'Grid system' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

    {% set navGrid = 'is-active' %}
    {% include 'partials/navigation.html' %}

    <div class="doc-main">
        <main class="fds">
            <h1 class="h1-like">Grid system</h1>

            <div class="intro-block">
                <p>Flexible responsive grid based on flex display property.</p>
            </div>

            <h2 class="h2-like">
                Basic
            </h2>

            <div class="doc-demo">

                <div class="GridFlex doc-grid">
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-12">
                            <div class="doc-cell">12</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-11">
                            <div class="doc-cell">11</div>
                        </div>
                        <div class="GridFlex-col-1">
                            <div class="doc-cell">1</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-10">
                            <div class="doc-cell">10</div>
                        </div>
                        <div class="GridFlex-col-2">
                            <div class="doc-cell">2</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-9">
                            <div class="doc-cell">9</div>
                        </div>
                        <div class="GridFlex-col-3">
                            <div class="doc-cell">3</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-8">
                            <div class="doc-cell">8</div>
                        </div>
                        <div class="GridFlex-col-4">
                            <div class="doc-cell">4</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-7">
                            <div class="doc-cell">7</div>
                        </div>
                        <div class="GridFlex-col-5">
                            <div class="doc-cell">5</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-6">
                            <div class="doc-cell">6</div>
                        </div>
                        <div class="GridFlex-col-6">
                            <div class="doc-cell">6</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="doc-table-container">
                <table class="doc-table">
                    <thead>
                    <tr>
                        <th class="u-is-txt-center"></th>
                        <th class="u-is-txt-center">Small mobile
                            <br>
                            <small>≥ 0px</small>
                        </th>
                        <th class="u-is-txt-center">Mobile
                            <br>
                            <small>≥ 376px</small>
                        </th>
                        <th class="u-is-txt-center">Small Tablet
                            <br>
                            <small>≥ 716px</small>
                        </th>
                        <th class="u-is-txt-center">Tablet
                            <br>
                            <small>≥ 984px</small>
                        </th>
                        <th class="u-is-txt-center">Desktop
                            <br>
                            <small>≥ 1200px</small>
                        </th>
                        <th class="u-is-txt-center">HD Desktop & widescreen
                            <br>
                            <small>≥ 1600px</small>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="u-is-txt-center">
                    <tr>
                        <th>Class prefix</th>
                        <td>xxs</td>
                        <td>xs</td>
                        <td>sm</td>
                        <td>md</td>
                        <td>lg</td>
                        <td>xl</td>
                    </tr>
                    <tr>
                        <th># of columns</th>
                        <td colspan="6">12</td>
                    </tr>
                    <tr>
                        <th>Gutter width</th>
                        <td>8px</td>
                        <td>8px</td>
                        <td>16px</td>
                        <td>24px</td>
                        <td>24px</td>
                        <td>24px</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="doc-tabs" role="tablist" aria-orientation="horizontal">

                {# Tab bar ------------------------------- #}
                <ul class="doc-tabs-controls">
                    <li>
                        <a id="tab-html" href="#tabpanel-html" role="tab" aria-posinset="1" aria-setsize="1" aria-controls="tabpanel-html" aria-selected="true">HTML</a>
                    </li>
                </ul>

                {# Tab content ---------------------------- #}
                <div class="doc-tabs-contents">

                    {# HTML doc #}
                    <div id="tabpanel-html" role="tabpanel" aria-expanded="true" aria-labelledby="tab-html">

                        <pre><code class="html"><div class="GridFlex [has-{column-number}-columns]">
	<div class="GridFlex-row">
		<div class="GridFlex-col-12"></div>
	</div>
	<div class="GridFlex-row">
		<div class="GridFlex-col-6"></div>
		<div class="GridFlex-col-6"></div>
	</div>
	<div class="GridFlex-row">
		<div class="GridFlex-col-xxs-12 GridFlex-col-md-6"></div>
		<div class="GridFlex-col-xxs-12 GridFlex-col-md-6"></div>
	</div>
</div></code></pre>

                    </div>

                </div>

            </div>

            <h2 class="h2-like">
                Auto width
            </h2>

            <p class="doc-p">
                Add any number of auto sizing columns to a row. Let the grid figure it out.
            </p>

            <div class="doc-demo">

                <div class="GridFlex doc-grid">
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-auto">
                            <div class="doc-cell">auto</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="doc-tabs" role="tablist" aria-orientation="horizontal">

                {# Tab bar ------------------------------- #}
                <ul class="doc-tabs-controls">
                    <li>
                        <a id="tab-html-1" href="#tabpanel-html-1" role="tab" aria-posinset="1" aria-setsize="1" aria-controls="tabpanel-html-1" aria-selected="true">HTML</a>
                    </li>
                </ul>

                {# Tab content ---------------------------- #}
                <div class="doc-tabs-contents">

                    {# HTML doc #}
                    <div id="tabpanel-html-1" role="tabpanel" aria-expanded="true" aria-labelledby="tab-html-1">

                        <pre><code class="html"><div class="GridFlex-col-auto"></div>
<div class="GridFlex-col-xs-auto"></div></code></pre>

                    </div>

                </div>

            </div>

            <h2 class="h2-like">
                Offsets
            </h2>

            <div class="doc-demo">

                <div class="GridFlex doc-grid">
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-11 is-offset-1 ">
                            <div class="doc-cell">1</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-10 is-offset-2 ">
                            <div class="doc-cell">2</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-9  is-offset-3 ">
                            <div class="doc-cell">3</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-8  is-offset-4 ">
                            <div class="doc-cell">4</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-7  is-offset-5 ">
                            <div class="doc-cell">5</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-6  is-offset-6 ">
                            <div class="doc-cell">6</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-5  is-offset-7 ">
                            <div class="doc-cell">7</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-4  is-offset-8 ">
                            <div class="doc-cell">8</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-3  is-offset-9 ">
                            <div class="doc-cell">9</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-2  is-offset-10">
                            <div class="doc-cell">10</div>
                        </div>
                    </div>
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-1  is-offset-11">
                            <div class="doc-cell">11</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="doc-tabs" role="tablist" aria-orientation="horizontal">

                {# Tab bar ------------------------------- #}
                <ul class="doc-tabs-controls">
                    <li>
                        <a id="tab-html-2" href="#tabpanel-html-2" role="tab" aria-posinset="1" aria-setsize="1" aria-controls="tabpanel-html-2" aria-selected="true">HTML</a>
                    </li>
                </ul>

                {# Tab content ---------------------------- #}
                <div class="doc-tabs-contents">

                    {# HTML doc #}
                    <div id="tabpanel-html-2" role="tabpanel" aria-expanded="true" aria-labelledby="tab-html-2">

                        <pre><code class="html"><!-- cell on 6 columns offsetted by 3 columns -->
<div class="GridFlex-col-6 is-offset-3"></div>

                            <!-- cell on 6 columns offsetted by 3 on desktop, on 8 columns offsetted by 2 in table & mobile -->
<div class="GridFlex-col-xxs-8 is-offset-xxs-2 GridFlex-col-lg-6 is-offset-lg-3"></div>
</code></pre>
                    </div>

                </div>

            </div>

            <h2 class="h2-like">
                Alignment
            </h2>

            <p class="doc-p">
                Add classes to align elements to the top, bottom, or center of a row or a column.
            </p>

            <div class="GridFlex doc-grid">
                <div class="GridFlex-row is-aligned-top doc-row-visible">
                    <div class="GridFlex-col-6">
                        <div class="doc-cell">TOP (by default)</div>
                    </div>
                    <div class="GridFlex-col-6">
                        <div class="doc-cell" style="height: 200px"></div>
                    </div>
                </div>
            </div>
            <pre><code class="html"><div class="GridFlex-row is-aligned-top">...</div></code></pre>
            <br><br>

            <div class="GridFlex doc-grid">
                <div class="GridFlex-row is-aligned-middle doc-row-visible">
                    <div class="GridFlex-col-6">
                        <div class="doc-cell">MIDDLE</div>
                    </div>
                    <div class="GridFlex-col-6">
                        <div class="doc-cell" style="height: 200px"></div>
                    </div>
                </div>
            </div>
            <pre><code class="html"><div class="GridFlex-row is-aligned-middle">...</div></code></pre>
            <br><br>

            <div class="GridFlex doc-grid">
                <div class="GridFlex-row is-aligned-bottom doc-row-visible">
                    <div class="GridFlex-col-6">
                        <div class="doc-cell">BOTTOM</div>
                    </div>
                    <div class="GridFlex-col-6">
                        <div class="doc-cell" style="height: 200px"></div>
                    </div>
                </div>
            </div>
            <pre><code class="html"><div class="GridFlex-row is-aligned-bottom">...</div></code></pre>
            <br><br>

            <div class="GridFlex doc-grid">
                <div class="GridFlex-row is-aligned-start doc-row-visible">
                    <div class="GridFlex-col-6">
                        <div class="doc-cell">START (by default)</div>
                    </div>
                </div>
            </div>
            <pre><code class="html"><div class="GridFlex-row is-aligned-start">...</div></code></pre>
            <br><br>

            <div class="GridFlex doc-grid">
                <div class="GridFlex-row is-aligned-center doc-row-visible">
                    <div class="GridFlex-col-6">
                        <div class="doc-cell">CENTER</div>
                    </div>
                </div>
            </div>
            <pre><code class="html"><div class="GridFlex-row is-aligned-center">...</div></code></pre>
            <br><br>

            <div class="GridFlex doc-grid">
                <div class="GridFlex-row is-aligned-end doc-row-visible">
                    <div class="GridFlex-col-6">
                        <div class="doc-cell">END</div>
                    </div>
                </div>
            </div>
            <pre><code class="html"><div class="GridFlex-row is-aligned-end">...</div></code></pre>

            <br>
            <br>

            <div class="doc-p">
                You can also change the direction of a row to column by using the class <i>is-direction-column</i>.
            </div>

            <div class="GridFlex doc-grid">
                <div class="GridFlex-row is-direction-column">
                    <div class="GridFlex-col-6">
                        <div class="doc-cell">COLUMN</div>
                    </div>
                    <div class="GridFlex-col-6">
                        <div class="doc-cell" style="height: 200px; background: rgba(95,114,230,.2); color: black">COLUMN</div>
                    </div>
                </div>
            </div>
            <br>
            <pre><code class="html"><div class="GridFlex-row is-direction-column">...</div></code></pre>
            <br><br>

            <h2 class="h2-like">
                Ordering
            </h2>

            <p class="doc-p">
                Add classes to reorder columns.
            </p>

            <div class="doc-demo">

                <div class="GridFlex doc-grid">
                    <div class="GridFlex-row doc-row">
                        <div class="GridFlex-col-3 is-ordered-last">
                            <div class="doc-cell">A</div>
                        </div>
                        <div class="GridFlex-col-3 is-ordered-3">
                            <div class="doc-cell">B</div>
                        </div>
                        <div class="GridFlex-col-3 is-ordered-2">
                            <div class="doc-cell">C</div>
                        </div>
                        <div class="GridFlex-col-3 is-ordered-first">
                            <div class="doc-cell">D</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="doc-tabs" role="tablist" aria-orientation="horizontal">

                {# Tab bar ------------------------------- #}
                <ul class="doc-tabs-controls">
                    <li>
                        <a id="tab-html-3" href="#tabpanel-html-3" role="tab" aria-posinset="1" aria-setsize="1" aria-controls="tabpanel-html-3" aria-selected="true">HTML</a>
                    </li>
                </ul>

                {# Tab content ---------------------------- #}
                <div class="doc-tabs-contents">

                    {# HTML doc #}
                    <div id="tabpanel-html-3" role="tabpanel" aria-expanded="true" aria-labelledby="tab-html-3">

                        <pre><code class="html"><div class="GridFlex-row">
    <div class="GridFlex-col-3 is-ordered-last">a</div>
    <div class="GridFlex-col-3 is-ordered-3">b</div>
    <div class="GridFlex-col-3 is-ordered-2">c</div>
    <div class="GridFlex-col-3 is-ordered-first">d</div>
</div></code></pre>

                    </div>

                </div>

            </div>

            <h2 class="h2-like">
                Distribution
            </h2>

            <p class="doc-p">
                Add classes to distribute the contents of a row.
            </p>
            <div class="doc-demo">

                <div class="GridFlex doc-grid">
                    <span class="doc-h4">Space arround</span>
                    <div class="GridFlex-row is-justified-around doc-row-visible">
                        <div class="GridFlex-col-2">
                            <div class="doc-cell"></div>
                        </div>
                        <div class="GridFlex-col-2">
                            <div class="doc-cell"></div>
                        </div>
                        <div class="GridFlex-col-2">
                            <div class="doc-cell"></div>
                        </div>
                        <div class="GridFlex-col-2">
                            <div class="doc-cell"></div>
                        </div>
                    </div>
                    <span class="doc-h4">Space between</span>
                    <div class="GridFlex-row is-justified-between doc-row-visible">
                        <div class="GridFlex-col-2">
                            <div class="doc-cell"></div>
                        </div>
                        <div class="GridFlex-col-2">
                            <div class="doc-cell"></div>
                        </div>
                        <div class="GridFlex-col-2">
                            <div class="doc-cell"></div>
                        </div>
                        <div class="GridFlex-col-2">
                            <div class="doc-cell"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="doc-tabs" role="tablist" aria-orientation="horizontal">

                {# Tab bar ------------------------------- #}
                <ul class="doc-tabs-controls">
                    <li>
                        <a id="tab-html-4" href="#tabpanel-html" role="tab" aria-posinset="1" aria-setsize="1" aria-controls="tabpanel-html-4" aria-selected="true">HTML</a>
                    </li>
                </ul>

                {# Tab content ---------------------------- #}
                <div class="doc-tabs-contents">

                    {# HTML doc #}
                    <div id="tabpanel-html-4" role="tabpanel" aria-expanded="true" aria-labelledby="tab-html-4">

                        <pre><code class="html"><div class="GridFlex-row is-justified-around">...</div>
<div class="GridFlex-row is-justified-between">...</div></code></pre>

                    </div>

                </div>

            </div>
        </main>

        {% include  'partials/html-footer.html' %}
    </div>
</div>
</body>
</html>
