{% set docTitle = 'Button Component' %}
{% include  'partials/html-header.html' %}

<div class="documentation">
    
    {% set navUIElement = 'is-active' %}
    {% set navButtons = 'is-active' %}
    {% include 'partials/navigation.html' %}

    <div class="doc-main">
        <main class="fds">
            <h1 class="h1-like">Buttons</h1>

            <div class="intro-block">
                <p>
                    Buttons are the goto to trigger an action on a page. They can trigger creative or destructive actions, allow you to execute in-page action or let you go to a new page.
                </p>
            </div>

            <p>
                A button is a visual aspect to catch the eye of the user and invite him to do something in a specific context. The DNA of our buttons is quite classical. The basic shape is coming with a lot of variations to cover several use cases.
            </p>

            <div class="toc">
                <p id="toc-title" class="h3-like">Table of Contents</p>
                <ul aria-labelledby="toc-title">
                    <li>
                        <a href="#button-dna">Button DNA</a>
                    </li>
                    <li>
                        <a href="#variations">Variations</a>
                    </li>
                </ul>
            </div>

            <h2 class="h2-like" id="button-dna">
                Button DNA
            </h2>
            
            <p>
                The buttons all come with a minimal surface area on which it is possible to interact to trigger actions. The smallest size variation is 32 pixels wide, and even if the visual size is that small, the minimum "touch" area is 40 pixels wide minimum.<br>
                Here some technical information for basic buttons.
            </p>

             <p class="margin-big text-center">
                <img src="{{ path_img }}components/button-dna-documentation.png" srcset="{{ path_img }}components/button-dna-documentation@2x.png" width="543" height="120" alt="A button with blue gradient and measurements here and there, described below.">
            </p>

            <h3 class="h3-like" id="button-detail">
                Technical Basics
            </h3>

            <p>Information you need in order to build a basic button:</p>

            <ul>
                <li>DIN Pro Medium 16px Uppercase is used in white</li>
                <li>Background is a <a href="colors.html#gradient-blue-tertiary">Blue Tertiary</a> from <span class="color">#4EABFF</span> to <span class="color">#0F8DFF</span> on normal state.</li>
                <li>Padding left and right are 16px, top and bottom are 12px</li>
                <li>Border Radius are 4 pixels</li>
                <li>Total height is approximately 40px. Approx. because you never block the height of an element with a text inside of it (accessibility recommandation).</li>
            </ul>

            <h2 class="h2-like" id="variations">
                Buttons Variations
            </h2>

            <p>
                Buttons are used for creating assertiveness and engagement for an action. Depending on the goals of the page, view or block of content, the choice of the type of button is important. Follow these guides to help you chose and keep consistency.
            </p>

            <h3 class="h3-like" id="state-variations">
                State Variations
            </h3>

            <p>
                While using a button, the user will make it pass by several states described as following:
            </p>

            <div class="gallery can-overflow u-is-bg-white">
                <div class="gallery-image">
                    <div class="gl-image" style="height: 85px;">
                        <img src="{{ path_img }}components/button-primary-normal.png" srcset="{{ path_img }}components/button-primary-normal@2x.png" width="155" height="48" alt="Button Primary in a normal state">
                    </div>
                    <ul class="dl-links">
                        <li class="text-center"><a href="#gradient-blue-tertiary">$gradient-blue-tertiary</a></li>
                        <li class="text-center">Regular Shadow</li>
                    </ul>
                </div>

                <div class="gallery-image">
                    <div class="gl-image" style="height: 85px;">
                        <img src="{{ path_img }}components/button-primary-hover.png" srcset="{{ path_img }}components/button-primary-hover@2x.png" width="158" height="52" alt="Button Primary in a hover state">
                    </div>
                    <ul class="dl-links">
                        <li class="text-center"><a href="#gradient-blue-quaternary">$gradient-blue-quaternary</a></li>
                        <li class="text-center">Diffused Shadow</li>
                    </ul>
                </div>

                <div class="gallery-image">
                    <div class="gl-image" style="height: 85px;">
                        <img src="{{ path_img }}components/button-primary-active.png" srcset="{{ path_img }}components/button-primary-active@2x.png" width="158" height="52" alt="Button Primary in a active state">
                    </div>
                    <ul class="dl-links">
                        <li class="text-center"><a href="#gradient-blue-quaternary">$gradient-blue-quaternary</a></li>
                        <li class="text-center">Diffused Shadow</li>
                    </ul>
                </div>

                <div class="gallery-image">
                    <div class="gl-image" style="height: 85px;">
                        <img src="{{ path_img }}components/button-primary-disabled.png" srcset="{{ path_img }}components/button-primary-disabled@2x.png" width="155" height="48" alt="Button Primary in a disabled state">
                    </div>
                    <ul class="dl-links">
                        <li class="text-center"><a href="#gradient-blue-tertiary">$gradient-blue-tertiary</a></li>
                        <li class="text-center">Regular Shadow</li>
                        <li class="text-center">Opacity: 50%</li>
                    </ul>
                </div>
            </div>

            <div class="can-overflow u-is-bg-white">
                <pre><code class="html"><button class="ButtonContained" type="button">
    Button Label
</button></code></pre>
            </div>

            <p>
                This page is still under construction. But the following content can still help you.
            </p>

            <div class="doc-demo">

                <div class="row">

                    <div class="col-xs-12 col-md-6">

                        <button class="ButtonContained">Contained</button>
                        <br><br>
                        <button class="ButtonOutlined">Outlined</button>
                        <br><br>
                        <button class="ButtonText">Text</button>

                    </div>

                    <div class="col-xs-12">
                        <div class="doc-tabs" role="tablist" aria-orientation="horizontal">

                            {# Tab bar ------------------------------- #}
                            <ul class="doc-tabs-controls">
                                <li>
                                    <a id="tab-html-1" href="#tabpanel-html-1" role="tab" aria-posinset="1" aria-setsize="1" aria-controls="tabpanel-html-1" aria-selected="true">HTML</a>
                                </li>
                            </ul>

                            {# Tab content ---------------------------- #}
                            <div class="doc-tabs-contents">

                                {# HTML doc #}
                                <div id="tabpanel-html-1" role="tabpanel" aria-expanded="true" aria-labelledby="tab-html-1">

                                    <pre><code class="html"><button class="[ButtonContained|ButtonOutlined|ButtonText]">...</button></code></pre>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <h2 class="h2-like">
                Color variants
            </h2>

            <div class="doc-demo">

                <div class="row">

                    <div class="col-xs-12 col-md-6">

                        <button class="ButtonContained is-primary">Primary</button>
                        <br><br>
                        <button class="ButtonContained is-success">Success</button>
                        <br><br>
                        <button class="ButtonOutlined is-warning">Warning</button>
                        <br><br>
                        <button class="ButtonText is-danger">Danger</button>

                    </div>

                    <div class="col-xs-12">
                        <div class="doc-tabs" role="tablist" aria-orientation="horizontal">

                            {# Tab bar ------------------------------- #}
                            <ul class="doc-tabs-controls">
                                <li>
                                    <a id="tab-html-3" href="#tabpanel-html-3" role="tab" aria-posinset="1" aria-setsize="1" aria-controls="tabpanel-html-3" aria-selected="true">HTML</a>
                                </li>
                            </ul>

                            {# Tab content ---------------------------- #}
                            <div class="doc-tabs-contents">

                                {# HTML doc #}
                                <div id="tabpanel-html-3" role="tabpanel" aria-expanded="true" aria-labelledby="tab-html-3">

                                    <pre><code class="html"><button class="[ButtonContained|ButtonOutlined|ButtonText] [is-primary|is-info|is-warning|is-danger|is-success]">...</button></code></pre>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <h2 class="h2-like">
                    Form variants
                </h2>
                <div class="row">

                    <div class="col-xs-12 col-md-6">

                        <button class="ButtonContained is-rounded">Contained rounded</button>
                        <br><br>
                        <button class="ButtonOutlined is-rounded">Outlined rounded</button>
                        <br><br>
                        <button class="ButtonText is-rounded">Text rounded</button>

                    </div>

                    <div class="col-xs-12">
                        <div class="doc-tabs" role="tablist" aria-orientation="horizontal">

                            {# Tab bar ------------------------------- #}
                            <ul class="doc-tabs-controls">
                                <li>
                                    <a id="tab-html-4" href="#tabpanel-html-4" role="tab" aria-posinset="1" aria-setsize="2" aria-controls="tabpanel-html-4" aria-selected="true">HTML</a>
                                </li>
                            </ul>

                            {# Tab content ---------------------------- #}
                            <div class="doc-tabs-contents">

                                {# HTML doc #}
                                <div id="tabpanel-html-4" role="tabpanel" aria-expanded="true" aria-labelledby="tab-html-4">

                                    <pre><code class="html"><button class="[ButtonContained|ButtonOutlined|ButtonText] [is-rounded]">...</button></code></pre>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <h2 class="h2-like">
                    State variants
                </h2>
                <div class="row">

                    <div class="col-xs-12">

                        <button class="ButtonContained is-loading">Contained loading</button>
                        <br><br>
                        <button class="ButtonContained" disabled>Contained disabled</button>
                        <br><br>
                        <button class="ButtonOutlined is-loading">Outlined loading</button>
                        <br><br>
                        <button class="ButtonOutlined" disabled>Outlined disabled</button>
                        <br><br>
                        <button class="ButtonText is-loading">Text loading</button>
                        <br><br>
                        <button class="ButtonText" disabled>Text disabled</button>

                    </div>

                    <div class="col-xs-12">
                        <div class="doc-tabs" role="tablist" aria-orientation="horizontal">

                            {# Tab bar ------------------------------- #}
                            <ul class="doc-tabs-controls">
                                <li>
                                    <a id="tab-html-6" href="#tabpanel-html-6" role="tab" aria-posinset="1" aria-setsize="1" aria-controls="tabpanel-html-6" aria-selected="true">HTML</a>
                                </li>
                            </ul>

                            {# Tab content ---------------------------- #}
                            <div class="doc-tabs-contents">

                                {# HTML doc #}
                                <div id="tabpanel-html-6" role="tabpanel" aria-expanded="true" aria-labelledby="tab-html-6">

                                    <pre><code class="html"><button class="[ButtonContained|ButtonOutlined|ButtonText] [is-loading|is-disabled]">...</button></code></pre>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <h2 class="h2-like">
                    Size variants
                </h2>
                <div class="row">

                    <div class="col-xs-12">

                        <button class="ButtonContained is-small">Small</button>
                        <br><br>
                        <button class="ButtonContained is-medium">Medium</button>
                        <br><br>
                        <button class="ButtonOutlined is-normal">Normal/Default</button>
                        <br><br>
                        <button class="ButtonText is-big">Big</button>
                        <br><br>
                        <button class="ButtonText is-full-width">Full width</button>

                    </div>

                    <div class="col-xs-12">
                        <div class="doc-tabs" role="tablist" aria-orientation="horizontal">

                            {# Tab bar ------------------------------- #}
                            <ul class="doc-tabs-controls">
                                <li>
                                    <a id="tab-html-7" href="#tabpanel-html-7" role="tab" aria-posinset="1" aria-setsize="1" aria-controls="tabpanel-html-7" aria-selected="true">HTML</a>
                                </li>
                            </ul>

                            {# Tab content ---------------------------- #}
                            <div class="doc-tabs-contents">

                                {# HTML doc #}
                                <div id="tabpanel-html-7" role="tabpanel" aria-expanded="true" aria-labelledby="tab-html-7">

                                    <pre><code class="html"><button class="[ButtonContained|ButtonOutlined|ButtonText] [is-small|is-medium|is-normal|is-big|is-full-width]">...</button></code></pre>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </main>

        {% include  'partials/html-footer.html' %}
    </div>
</div>
</body>
</html>
