{% set docTitle = 'License' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">License</h1>

			<div class="intro-block">
				<p>We want you to give feedback and take what can help you in that Design System. But you will have to respect to rules to do so.</p>
			</div>

			<p>
				If you need help on how to use what we share, feel free to contact the <a href="contact.html#lead-design-system">Lead System Designer</a> for advice.
			</p>

			<h2 class="h2-like">CreativeCommons 4.0</h2>
			
			<p class="license u-is-bg-blue-foyer">
				<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="{{ path_img }}creative-commons.png" srcset="{{ path_img }}creative-commons.png 2x" width="276" height="67" alt="Creative Commons License - Attribution-NonCommercial-ShareAlike"></a>
			</p>

			<p>
				<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Foyer Design System</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://groupe.foyer.lu" property="cc:attributionName" rel="cc:attributionURL">Groupe Foyer</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

				<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://design.foyer.lu" rel="dct:source">https://design.foyer.lu</a>.

				<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="https://design.foyer.lu/contact.html" rel="cc:morePermissions">https://design.foyer.lu/contact.html</a>.
			</p>

		</main>

		{% include  'partials/html-footer.html' %}
	</div>
</div>
	</body>
</html>
