{% set docTitle = 'Motion' %}
{% include  'partials/html-header.html' %}

<div class="documentation" data-root>

	{% set navBranding = 'is-active' %}
	{% set navMotion = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">Motion</h1>

			<div class="intro-block">
				<p>Motion is a powerful tool in designing strong user experience. It can bring your work to life, guide users through complex experiences and interactions.</p>
			</div>

			<p style="color: red;">
				During 2019, we started reworking our…
			</p>

			<div class="toc">
				<p id="toc-title" class="h3-like">Table of Contents</p>
				<ul aria-labelledby="toc-title">
					<li>
						<a href="#basics">Some Basics</a>
					</li>
					<li>
						<a href="#choreography">Choreography</a>
					</li>
				</ul>
			</div>

			<p>
				inspiration : <a href="https://www.ibm.com/design/language/elements/motion/basics">https://www.ibm.com/design/language/elements/motion/basics</a>
			</p>

			<h2 class="h2-like" id="basics">Basics</h2>
			<h2 class="h2-like" id="choreography">Choreography</h2>




		</main>

		{% include  'partials/html-footer.html' %}

	</div><!-- doc-main -->
</div><!-- documentation -->

	</body>
</html>
