{% set docTitle = 'Open Innovation' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% set navStrategy = 'is-active' %}
	{% set navOpenInnovation = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">

			<h1 class="h1-like with-illu">
				<span>Open Innovation</span>
				<img src="img/illu-modern.svg" class="illu" alt="">
			</h1>

			<div class="intro-block">
				<p>Foyer Group is open to new ideas and collaboration to build or help building product and services for our common clients.</p>
			</div>

			<p>
				Last months Foyer worked a lot with startups to find new products and solutions for a better work environement. Chatbot solution, Crash &amp; Error Analytics, Funnel Analytics and qualitative feedback solutions were our main problematics to solve.
			</p>

			<div class="toc">
				<p id="toc-title" class="h3-like">Table of Content</p>
				<ul aria-labelledby="toc-title">
					<li>
						<a href="#being-open">Being Open</a>
					</li>
					<li>
						<a href="#collaboration">Collaboration</a>
					</li>
				</ul>
			</div>

			<h2 class="h2-like" id="being-open">Being Open</h2>

			<p>
				Foyer is working on new <abbr title="Applications Programming Interface">API</abbr>s to improve the internal workflow. It is a lot of substantive work and requires a lot of effort because of the age of the company.<br>
				In the future, these APIs will open up to the outside world for the benefit of our external collaborators. <a href="api.html">Learn more on API</a>.
			</p>

			<h2 class="h2-like" id="collaboration">Collaboration</h2>

			<p>
				By working with startups, we shared resources to improve our mutual experiences, and it worked well.
			</p>

			<p>
				Foyer want to go further and want to propose collaboration with startups working on improving experience for our end users, or the experience of your clients/customers.<br>
				The terms of collaborating with Foyer are still in discussion, but if you are interested in a partnership, or if you are ambitious and working in the same core business:
			</p>

			<ul>
				<li>Mobility Insurance</li>
				<li>Home and lifestyle</li>
				<li>Health and Care</li>
				<li>Climate and Energy Saving</li>
				<li>Process Optimization</li>
				<li>Risk Prevention</li>
				<li>Safety and Human Beings</li>
			</ul>

			<p>and if you already have your first customers and an initial product, <a href="contact.html#press">contact Alice</a>.</p>
		</main>

		{% include  'partials/html-footer.html' %}

	</div><!-- doc-main -->
</div><!-- documentation -->

	</body>
</html>
