{% set docTitle = 'Open Innovation' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% set navStrategy = 'is-active' %}
	{% set navOpenInnovation = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">Open Innovation</h1>

			<div class="intro-block">
				<p>Take an overview of the timeline, from where we started to where our roadmap will lead us.</p>
			</div>

			<p>
				Our System exists since 2018 and has been initiated even before through a UI Kit for only one project and production team. Our FDS is born from that project.
			</p>

			<div class="toc">
				<p id="toc-title" class="h3-like">Table of Content</p>
				<ul aria-labelledby="toc-title">
					<li>
						<a href="#timeline">Timeline</a>
					</li>
				</ul>
			</div>

			<h2 class="h2-like" id="timeline">Timeline</h2>

			

		</main>

		{% include  'partials/html-footer.html' %}

	</div><!-- doc-main -->
</div><!-- documentation -->

	</body>
</html>
