{% set docTitle = 'Roadmap' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% set navStrategy = 'is-active' %}
	{% set navRoadmap = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">System Roadmap</h1>

			<div class="intro-block">
				<p>Take an overview of the timeline, from where we started to where our roadmap will lead us.</p>
			</div>

			<p>
				Our System exists since 2018 and has been initiated even before through a UI Kit for only one project and production team. Our FDS is born from that project.
			</p>

			<div class="toc">
				<p id="toc-title" class="h3-like">Table of Content</p>
				<ul aria-labelledby="toc-title">
					<li>
						<a href="#timeline">Timeline</a>
					</li>
					<li>
						<a href="#changelog">Changelog</a>
					</li>
					<li>
						<a href="#roadmap">Roadmap</a>
					</li>
				</ul>
			</div>

			<h2 class="h2-like" id="timeline">Timeline</h2>

			<div class="timeline">
				<div class="time-line"><span class="line"></span></div>
				<ol class="events-list">
					<li class="event-item">
						<div class="event-image">
							<img src="{{ path_img }}icon-puzzle.png" srcset="{{ path_img }}icon-puzzle@2x.png 2x" width="64" height="64" alt="">
						</div>
						<div class="event-text-content">
							<time datetime="2018-01-01" class="event-time">Jan. 2018</time>
							<p class="event-title">Primitive UI Kit</p>
						</div>
					</li>
					<li class="event-item">
						<div class="event-image">
							<img src="{{ path_img }}icon-library.png" srcset="{{ path_img }}icon-library@2x.png 2x" width="64" height="64" alt="">
						</div>
						<div class="event-text-content">
							<time datetime="2018-05-12" class="event-time">May 2018</time>
							<p class="event-title">First visual/design inventory</p>
						</div>
					</li>

					<li class="event-item">
						<div class="event-image">
							<img src="{{ path_img }}icon-palette.png" srcset="{{ path_img }}icon-palette@2x.png 2x" width="64" height="64" alt="">
						</div>
						<div class="event-text-content">
							<time datetime="2018-07-10" class="event-time">Jul. 2018</time>
							<p class="event-title">First Design Library and Guidelines</p>
						</div>
					</li>

					<li class="event-item">
						<div class="event-image">
							<img src="{{ path_img }}icon-equal.png" srcset="{{ path_img }}icon-equal@2x.png 2x" width="64" height="64" alt="">
						</div>
						<div class="event-text-content">
							<time datetime="2018-08-15" class="event-time">Aug. 2018</time>
							<p class="event-title">First Sync. between design and dev. guidelines</p>
						</div>
					</li>

					<li class="event-item">
						<div class="event-image">
							<img src="{{ path_img }}icon-conf.png" srcset="{{ path_img }}icon-conf@2x.png 2x" width="64" height="64" alt="">
						</div>
						<div class="event-text-content">
							<time datetime="2018-07-10" class="event-time">Feb. 2019</time>
							<p class="event-title">First <abbr title="Design System">DS</abbr> rework with our developers.</p>
						</div>
					</li>

					<li class="event-item">
						<div class="event-image">
							<img src="{{ path_img }}icon-broadcast.png" srcset="{{ path_img }}icon-broadcast@2x.png 2x" width="64" height="64" alt="">
						</div>
						<div class="event-text-content">
							<time datetime="2018-07-10" class="event-time">Sept. 2019</time>
							<p class="event-title">10% of the Design System going online.</p>
						</div>
					</li>
				</ol>
			</div>
			
			<p>But we also have a lot of work to do for our teams, and for this public website.</p>

			<h2 class="h2-like" id="changelog">Changelog</h2>
			<dl>
				<dt>14 oct. 2019</dt>
				<dd>
					<ul>
						<li>First Public Release</li>
					</ul>
				</dd>
			</dl>


			<h2 class="h2-like" id="roadmap">Roadmap</h2>
			
			<p>Our next steps leading by our Core Team. As a side project for the entire design team, we cannot make this roadmap more time sensitive.</p>

			<ol>
				<li><strong>Image Library</strong>: to make a cross-domain library for Designer, Developer and Communication usages.</li>
				<li><strong>Accessibility</strong>: Technical and Design Guideline on accessibility. (on going)</li>
				<li><strong>Design Principles</strong>: re-work Foyer Design Principles and write them down.</li>
				<li><strong>Foyer Public Website</strong>: Design System will also cover public websites.</li>
				<li><strong>E-mailing &amp; Postal Mailing</strong>: templating and communication standardization.</li>
				<li><strong>Voice &amp; Tone</strong>: how to communicate with end users (clients, agents, etc.)</li>
				<li><strong>Vocabulary</strong>: standardization and simplification of the insurance terminology to avoid jargon and make the content more accessible.</li>
				<li><strong>Document Base</strong>: to facilitate the access to documents for our agents and administration people.</li>
				<li><strong>Press Kit</strong>: to make first communication more easy and standardized.</li>
				<li><strong>Foyer Group</strong>: to make the Design System more global to the entire Foyer Group and not only the Insurance part of the company.</li>
				<li><strong>Employee Kit</strong>: to onboard the newcomers more easily and efficiently.</li>
			</ol>

		</main>

		{% include  'partials/html-footer.html' %}

	</div><!-- doc-main -->
</div><!-- documentation -->

	</body>
</html>
