{% set docTitle = 'Typography' %}
{% include  'partials/html-header.html' %}

<div class="documentation">
    
    {% set navBranding = 'is-active' %}
    {% set navTypography = 'is-active' %}
    {% include 'partials/navigation.html' %}

    <div class="doc-main">
        <main class="fds">
            <h1 class="h1-like">Typography</h1>

            <div class="intro-block">
                <p>Typography is a main part of visual identity. To maintain a homogeneous and easily recognizable image, a family of character has been chosen: DIN Pro.</p>
                <p>This typeface must be systematically used and applied to all supports except for some specific ones. <a href="#">Check exceptions list.</a></p>
            </div>
            
            <h3 class="h3-like">Important note</h3>
            <p>
                For legal reasons, the name <b>Foyer</b> presents in text blocs must be in bold. The first name letter must be in uppercase, and the rest in lowercase.
            </p>

            <!--
            <div class="doc-font font-din-pro">
                <div class="doc-font-watermark">Di</div>
                <div class="doc-font-name">
                    DIN Pro
                </div>
                <div class="doc-font-details">
                    <div class="doc-font-details-header">Characters</div>
                    <div class="doc-font-details-body">
                        <div>abcdefghijklmnopqrstuvwxyz</div>
                        <div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
                        <div>0123456789</div>
                        <div>éèêëàâäùûüîïôöç</div>
                        <div style="text-transform: uppercase;">éèêëàâäùûüîïôöç</div>
                        <div>&"'`@%*µ§~#¤^¨()[]{}-_²/\|.,;:?!><​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©‌$​‌€​‌£​‌¥​‌¢</div>
                    </div>
                </div>
                <div class="doc-font-details">
                    <div class="doc-font-details-header">Font styles</div>
                    <div class="doc-font-details-body">
                        <div style="font-weight: 200;">200 - light <span style="font-style: italic;">italic</span></div>
                        <div style="font-weight: 400;">400 - regular <span style="font-style: italic;">italic</span></div>
                        <div style="font-weight: 500;">500 - medium <span style="font-style: italic;">italic</span></div>
                        <div style="font-weight: 700;">700 - bold <span style="font-style: italic;">italic</span></div>
                        <div style="font-weight: 800;">800 - black <span style="font-style: italic;">italic</span></div>
                    </div>
                </div>
                <div class="doc-font-details">
                    <div class="doc-font-details-header">Font size</div>
                    <div class="doc-font-details-body">
                        <div style="font-size: 10px;">10px - lorem ipsum</div>
                        <div style="font-size: 12px;">12px - lorem ipsum</div>
                        <div style="font-size: 16px;">16px - lorem ipsum</div>
                        <div style="font-size: 24px;">24px - lorem ipsum</div>
                        <div style="font-size: 32px;">32px - lorem ipsum</div>
                        <div style="font-size: 40px;">40px - lorem ipsum</div>
                    </div>
                </div>
                <div class="doc-font-details">
                    <div class="doc-font-details-header">Usage</div>
                    <div class="doc-font-details-body doc-p">
                        DIN Pro is used for all texts in our applications. <br>
                        <br>
                        Utility class available : <span class="doc-u-is-txt-class-color">.u-font-dinpro</span>. <br>
                        Utility variable available : <span class="doc-u-is-txt-var-color">$font-din-pro</span>. <br>
                    </div>
                </div>
            </div>
            -->

            <h2 class="h2-like">Rules & Guidelines for Web Applications</h2>
            <div class="row">
                <div class="col-xs-12 col-md-10">


                    <h3>Font-properties</h3>

                        <h4>Font-size</h4>
                        <div>
                            <p>16 px is defined as a common base for body texts of all our web interfaces.</p>
                            <p>For accessibility purpose, the minimal font-size authorized in Web Apps is 12 pixels.</p>

                            <h5>Good practices</h5>
                            <p>In order to avoid too small nuances between closed texts, we advise to use an increment of 2 pixels.</p>
                        </div>
                        
                        <h4>Font-weights</h4>
                        <div>
                            <p>In most of our Designs, the base font-weight used is the Regular (400).</p>

                            <h5>Good practices</h5>
                            <p>In order to avoid too light variant between closed texts, we advise to have at least a gap of one font-weight.</p>
                        </div>

                        <h4>Underlining</h4>
                        <div>
                            <p>We don't use underlining except for links.</p>
                        </div>

                        <h4>Capitalization</h4>
                        <div>
                            <p>– COMING SOON –</p>
                        </div>

                        <h4>Italicizing</h4>
                        <div>
                            <p>– COMING SOON –</p>
                        </div>

                        <h4>Hyphenation</h4>
                        <div>
                            <p>– COMING SOON –</p>
                        </div>

                        <h4>Truncation</h4>
                        <div>
                            <p>– COMING SOON –</p>
                        </div>


                    <h3>Font fallback strategy</h3>
                        <p>In some situations, the DIN Pro – <span>the primary font</span> – could not be available or usable for technical reasons/limitations. Then to protect the homogeneity of Foyer's image, we defined a list of fonts that will be used as fallbacks.</p>
                        <p>Here is the ordered list:</p>
                        <ol>
                            <li>“DIN Pro”,</li>
                            <li>Roboto,</li>
                            <li>“Helvetica Neue”,</li>
                            <li>Helvetica,</li>
                            <li>Arial,</li>
                            <li>Sans-Serif;</li>
                        </ol>

                        <p>So to be really verbose here, what that rule is saying is:</p>
                        <ol>
                            <li>I'd like to use the "Din Pro" font, please.</li>
                            <li>If you don't have that, try Roboto next.</li>
                            <li>you don't have that, try "HelveticaNeue",</li>
                            <li>you don't have that, try Helvetica,</li>
                            <li>you don't have that, try Arial,</li>
                            <li>All else fails, use whatever you've got for the generic keyword Sans-Serif</li>
                        </ol>

                    <h3>Preset styles</h3>
                    <p>– IN PROGRESS –</p>

                </div>
            </div>

            <h2 class="h2-like">Rules & Guidelines for Print</h2>
            <div class="row">
                <div class="col-xs-12 col-md-10">
                    <p>…</p>
                </div>
            </div>

            <h2 class="h2-like">Rules & Guidelines for Public Website</h2>
            <div class="row">
                <div class="col-xs-12 col-md-10">
                    <p>…</p>
                </div>
            </div>

            
            <h2 class="h2-like">Exceptions list</h2>
            <div class="row">
                <div class="col-xs-12 col-md-10">
                    
                    <h3>Administrative documents</h3>
                    <p>The font used is Arial to insure compatibility. <a href="#">Refer to the Corporate Identity document</a></p>

                    
                    <h3>Emails</h3>
                    <p>Because of technical limitations within emails, we decided to use the following font stack in a fallback approach:</p>
                    <ol>
                        <li>Barlow,</li>
                        <li>Arial</li>
                        <li>Sans-Serif</li>
                    </ol>
                    <p><a href="#">Refer to the Corporate Identity document</a></p>

                </div>
            </div>

        </main>

        {% include  'partials/html-footer.html' %}
    </div>
</div>
</body>
</html>
