{% set docTitle = 'Who are our users' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% set navAbout = 'is-active' %}
	{% set navWho = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">Who are our users?</h1>

			<div class="intro-block">
				<p>We mostly address to our Designers and Developers in a first step. But our target is larger than just "our", or just those profiles.</p>
			</div>

			<p>
				When you start building a product you have to define your users, all of them. When you develop the product you focus on a part of your users. The Foyer Design System respect this Agile approach that's why we mostly work for our Designers and Developers.
			</p>

			<div class="toc">
				<p id="toc-title" class="h3-like">Table of Content</p>
				<ul aria-labelledby="toc-title">
					<li>
						<a href="#designers">For our Designers</a>
					</li>
					<li>
						<a href="#developers">For our Developers</a>
					</li>
					<li>
						<a href="#collaborators">For our Collaborators</a>
					</li>
					<li>
						<a href="#partners">For our Partners</a>
					</li>
				</ul>
			</div>

			<h2 class="h2-like" id="designers">For our Designers</h2>

			<p>
				Foyer Design System, also called FDS within the Company, is a System defined like our single source of truth which groups all the elements that will allow the teams to design, realize and develop a product.
			</p>

			<h2 class="h2-like" id="developers">For our Developers</h2>

			<h2 class="h2-like" id="collaborators">For our Collaborators</h2>
			

			<h2 class="h2-like" id="partners">For our Partners</h3>

	
			<h2 class="h2-like text-center">Go further with:</h2>
			<div class="discover row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="design-principles.html" class="disco-1">
						<p class="h3-like">Design Principles</p>
						<p>What defines the Foyer Brand &amp; identity.</p>
					</a>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="open-innovation.html" class="disco-2">
						<p class="h3-like">Open Innovation</p>
						<p>The Foyer Strategy for a Digital Company.</p>
					</a>
				</div>
			</div>


		</main>

		{% include  'partials/html-footer.html' %}
	</div>
</div>
	</body>
</html>
