{% set docTitle = 'Who are our users' %}
{% include  'partials/html-header.html' %}

<div class="documentation">

	{% set navAbout = 'is-active' %}
	{% set navWho = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">Who are our users?</h1>

			<div class="intro-block">
				<p>We mostly address to our Designers and Developers in a first step. But our target is larger than just "our", or just those profiles.</p>
			</div>

			<p>
				When you start building a product you have to define your users, all of them. When you develop the product you focus on a part of your users. The Foyer Design System respect this Agile approach that's why we mostly work for our Designers and Developers.
			</p>

			<div class="toc">
				<p id="toc-title" class="h3-like">Table of Content</p>
				<ul aria-labelledby="toc-title">
					<li>
						<a href="#dev-teams">Development Teams</a>
					</li>
					<li>
						<a href="#collaborators">Our Collaborators</a>
					</li>
					<li>
						<a href="#partners">Our Partners</a>
					</li>
				</ul>
			</div>



			<h2 class="h2-like" id="dev-teams">Development Teams</h2>

			<h3 class="h3-like" id="designers">UX and UI Designers</h3>

			<p>
				The Designers will focus on the <a href="design-process.html#user-research" class="todo">user research</a> and will need to communicate with the end user. Those users for Foyer can be an agent, a client or someone in the administration. The language used (Voice &amp; Tone) and the results expected are variable regarding the user profile.
			</p>
			<p>
				They also work on the visual and desirable aspect of the applications. They need to work on <a href="typography.html" class="todo">Typography</a>, <a href="colors.html" class="todo">Colors</a> and all the <a href="design-principles.html" class="todo">brand aspect</a> to keep a solid identity.
			</p>

			<h3 class="h3-like" id="developers">Front-End Developers</h3>

			<p>
				The Developers will focus on delivering a great experience through performant applications: they usually spend time on speed load, great interactions and <a href="motions.html" class="todo">motions</a>, respect of the <a href="design-principles.html" class="todo">brand aspect</a> respecting the <a href="design-tokens.html" class="todo">Design Tokens</a>.
			</p>



			<h2 class="h2-like" id="collaborators">Our Collaborators</h2>

			<h3 class="h3-like" id="marketing">Marketing &amp; Communication</h3>
			
			<p>The Marketing is in constant relation with the clients. They deliver communication assets and campains which need to be consistent through time, media and devices. <a href="logos.html" class="todo">Logos</a>, <a href="typography.html" class="todo">Typography</a>, <a href="colors.html" class="todo">Colors</a>, Voice &amp; Tone and Design Principles are their main tools, within the Design System, for a great communication.</p>

			<h3 class="h3-like" id="po-ba">Product Owner &amp; Business Analyst</h3>

			<p><abbr title="Product Owner">PO</abbr> and <abbr title="Business Analyst">BA</abbr> need to have a better view on how things work in a business and technical point of view to better estimate the time, resources, and budget allocated to the development of features. The Design System help the development team and the Business Analyst evaluate a part of the work required and already done by the Core Team.</p>
			


			<h2 class="h2-like" id="partners">Our Partners &amp; Future Collaborators</h2>

			<p style="color:red;">To be written…</p>

	
			<h2 class="h2-like text-center">Go further with:</h2>
			<div class="discover row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="design-principles.html" class="disco-1">
						<p class="h3-like">Design Principles</p>
						<p>What defines the Foyer Brand &amp; identity.</p>
					</a>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="open-innovation.html" class="disco-2">
						<p class="h3-like">Open Innovation</p>
						<p>The Foyer Strategy for a Digital Company.</p>
					</a>
				</div>
			</div>


		</main>

		{% include  'partials/html-footer.html' %}
	</div>
</div>
	</body>
</html>
