/**
 * Documentation stylesheet
 */
// TODO Variables file
$color-blue:        #4EABFF;
$color-blue-dark:   #479CE8;
$color-blue-smoke-dark: #E3E9EF;
$color-grey:        #999999;
$color-grey-dark:   #3B4856;
$color-foyer: 	    #004c92;
$color-foyer-light: #C8DFF4;
$color-info-light:  #EDF6FF;

$color-illu-blue: #2957C8;

$linear-gradient-primary: linear-gradient(to right, rgba(0, 76, 146, 1), rgba(8, 109, 202, 1) );
$linear-gradient-main: linear-gradient(to right, rgba(0, 85, 145, 1), rgba(0, 136, 201, 1) );
$linear-gradient-main-tob: linear-gradient(to bottom, rgba(0, 85, 145, 1), rgba(0, 136, 201, 1) );
$linear-gradient-button: linear-gradient(to right, rgba(42, 148, 218, 1), rgba(48, 174, 216, 1) );

$text-shadow: 0 0 4px $color-foyer;

$max-width: 1440px;
$sidebar-width: 320px;
$content-width: 820px; /* Main width for long copy */

$padding-offset: 48px; // Used for overflowing elements in main content

$mq-small: 640px;
$mq-medium: 880px;
$mq-overflowing: $sidebar-width + $content-width + $padding-offset * 2; // To control overflowing elements

$font-family: "Barlow", "DIN Pro", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-title: "Barlow", "Din Pro", "DIN", Helvetica, Arial, sans-serif;

.font-din-pro * {
	font-family: 'DIN Pro', serif;
}

$doc-layout-z-index: 1900;
$doc-anchor-z-index: 2000;
$doc-search-z-index: 2100;
$doc-nav-z-index: 2500;

$easeInSine     : cubic-bezier(0.470,  0.000, 0.745, 0.715);
$easeOutSine    : cubic-bezier(0.390,  0.575, 0.565, 1.000);
$easeInOutSine  : cubic-bezier(0.445,  0.050, 0.550, 0.950);
$easeInQuad     : cubic-bezier(0.550,  0.085, 0.680, 0.530);
$easeOutQuad    : cubic-bezier(0.250,  0.460, 0.450, 0.940);
$easeInOutQuad  : cubic-bezier(0.455,  0.030, 0.515, 0.955);
$easeInCubic    : cubic-bezier(0.550,  0.055, 0.675, 0.190);
$easeOutCubic   : cubic-bezier(0.215,  0.610, 0.355, 1.000);
$easeInOutCubic : cubic-bezier(0.645,  0.045, 0.355, 1.000);
$easeInQuart    : cubic-bezier(0.895,  0.030, 0.685, 0.220);
$easeOutQuart   : cubic-bezier(0.165,  0.840, 0.440, 1.000);
$easeInOutQuart : cubic-bezier(0.770,  0.000, 0.175, 1.000);
$easeInQuint    : cubic-bezier(0.755,  0.050, 0.855, 0.060);
$easeOutQuint   : cubic-bezier(0.230,  1.000, 0.320, 1.000);
$easeInOutQuint : cubic-bezier(0.860,  0.000, 0.070, 1.000);
$easeInExpo     : cubic-bezier(0.950,  0.050, 0.795, 0.035);
$easeOutExpo    : cubic-bezier(0.190,  1.000, 0.220, 1.000);
$easeInOutExpo  : cubic-bezier(1.000,  0.000, 0.000, 1.000);
$easeInCirc     : cubic-bezier(0.600,  0.040, 0.980, 0.335);
$easeOutCirc    : cubic-bezier(0.075,  0.820, 0.165, 1.000);
$easeInOutCirc  : cubic-bezier(0.785,  0.135, 0.150, 0.860);
$easeInBack     : cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack    : cubic-bezier(0.175,  0.885, 0.320, 1.275);
$easeInOutBack  : cubic-bezier(0.680, -0.550, 0.265, 1.550);
$easeGoogle     : cubic-bezier(0.400,  0.000, 0.200, 1.000);

$collapse-transition-open: all .5s $easeInQuart;
$collapse-transition-close: all .3s $easeOutQuint;

$breakpoints : (
	xxs  :    0,
	xs  :  376px,
	sm  :  716px,
	md  :  984px,
	lg  : 1200px,
	xl  : 1600px
);

@import 'font-face';
@import 'materialicons';
@import 'mixins';
@import 'colors';
@import 'grid';
@import 'panel';
@import 'documentation';

* {
	box-sizing: border-box;
}

::moz-selection {
	background: $color-foyer;
	color: white;
}

::selection {
	background: $color-foyer;
	color: white;
}

html, 
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Barlow", Helvetica, Arial, sans-serif;
	color: $color-grey-dark;
	background: #F7FBFF;
	scroll-behavior: smooth;
}

button,
a {
	cursor: pointer;
	transition: all .275s;
}

a {
	color: $color-foyer;
	text-decoration: none;
	outline: 0;
	transition: color .3s ease;

	&.todo.todo.todo {
		color: salmon;
	}

	&.doing.doing.doing {
		color: orange;
	}

	&:hover,
	&:focus {
		color: $color-foyer;
		text-decoration: underline;
		cursor: pointer;
	}

	&[disabled],
	&[aria-disabled="true"],
	&.is-disabled {
		color: map-get($colors, grey-500);
		text-decoration: none;
		cursor: not-allowed;
	}
}

strong {
	font-weight: 600;
}

dl {
	margin: 2em 0;
}

dt {
	color: $color-foyer;
	font-weight: 600;

	dd + & {
		margin-top: 1.5em;
	}
}

dd {
	margin-left: 48px;
}

dl.counter {
	padding: .5em 0 .5em 8px;
	counter-reset: ol 0;

	dt {
		position: relative;
		display: block;
		font-weight: 600;
		padding-left: 40px;
		counter-increment: ol;

		&:before {
			content: counter(ol);
			position: absolute;
			left: 0;
			top: 4px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 28px;
			height: 26px;
			padding-bottom: 2px;
			color: white;
			font-weight: 600;
			background: $color-illu-blue;
			border-radius: 46% 54% 37% 63% / 44% 26% 74% 56%;
		}
	}

	dd {
		margin: 0 0 1.5em 40px;
		list-style: none;
	}
}

blockquote {
	position: relative;
	margin: 56px 16px 56px 40px;
	font-size: 1.125em;
	font-weight: 300;

	&:before {
		content: '“';
		position: absolute;
		top: .35em;
		left: -.3em;
		font-size: 312px;
		line-height: 0;
		font-family: "Georgia", serif;
		color: $color-blue;
		opacity: .15;
	}

	cite {
		font-weight: 600;
		font-style: normal;
	}
}

/**
 * Utilities
 */
.sr-only {
	position: absolute !important;
	padding: 0 !important;
	margin: -1px !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;
	z-index: -1;
}

.sr-focusable:focus,
.sr-focusable:active {
	height: auto !important;
	width: auto !important;
	margin: auto !important;
	clip: auto !important;
	-webkit-clip-path: none !important;
			clip-path: none !important;
	overflow: visible !important;
	white-space: normal !important;
	z-index: 1;
}

.jump-link {
	display: inline-block;
	padding: 16px;
	background: $color-foyer;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/**
 * Hero Banner
 */
.fds-hero-banner {
	position: relative;
	padding-bottom: 120px;
	color: #FFF;
	text-align: center;
	text-shadow: $text-shadow;
	background: transparent linear-gradient(to top right, rgba(0, 85, 145, .8), rgba(0, 136, 201, .8) ), $color-foyer url(https://static.foyer.lu/images/4a/fds-hero-banner.4a99f3903a6c9cf4b00b006b8cecec8d660dcb9d.jpg) center no-repeat;
	background-size: cover;

	@media (min-width: $mq-small) {
		padding-bottom: 260px;
		text-align: left;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.nav-item {
		display: none;

		@media (min-width: $mq-small) {
			display: inline-block;
		}
	}

	li {
		display: inline-block;
	}

	li + li {
		margin-left: 64px;
	}

	a:not(.button) {
		font-size: 1em;
		letter-spacing: .05em;
		text-transform: uppercase;
		color: white;
		font-weight: 600;
		text-decoration: none;
	}

	h1 {
		margin-top: 0;
		padding-top: 140px;
		font-size: 2.4em;
		font-weight: 300;

		@media (min-width: $mq-small) {
			padding-top: 192px;
			font-size: 4em;
		}

		span {
			font-weight: 600;
		}

		+ p {
			margin-top: -.875em;
			font-size: 1.25em;
			line-height: 1.5;
			font-weight: 300;

			@media (min-width: $mq-small) {
				margin-top: -1em;
				font-size: 1.8em;
			}
		}
	}
}

/* Both headers for mobile and homepage */
.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	padding: 8px 16px;
	background: #036498;
	
	.fds-hero-banner & {
		@media (min-width: $mq-small) {
			position: static;
			padding: 32px 0 16px;
			background: transparent;
		}
	}
}

.fds-logo img {
	width: 120px;
	height: auto;

	@media (min-width: $mq-small) {
		width: auto;
	}
}

.navigation {
	margin-left: auto;
}

/* Documentation Layout */
.documentation {
	display: flex;
	// Code example

	pre {
		width: 100%;
		padding: 0;
		margin: 0;
		min-width: 0;

		.hljs {
			height: 100%;
			padding: 16px;
			font-size: 14px;
			background: #F5F2F0;
			tab-size: 2;
			font-family: "Fira Code", "Lucida Console", monospace;
			font-weight: normal;
			line-height: 1.5;
		}
	}
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 18px;
	background: $linear-gradient-main;
	font-size: 1em;
	letter-spacing: .05em;
	line-height: 1.55;
	font-weight: 600;
	text-decoration: none;
	color: white;
	cursor: pointer;
	border-radius: 4em; // pills
	box-shadow: 0 2px 2px -2px rgba(24, 0, 102, .25), 0 4px 4px -4px rgba(24, 0, 102, .25);
	transition: all .275s;

	&:hover,
	&:focus {
		color: white;
		box-shadow: 0 4px 4px -3px rgba(24, 0, 102, .30),0 8px 8px -5px rgba(24, 0, 102, .30);
		transform: translateY(-2px);
		outline: none;
		text-decoration: none;
	}

	&:active {
		box-shadow: 0 2px 3px -2px rgba(24, 0, 102, .2), 0 5px 5px -4px rgba(24, 0, 102, .25);
		transform: translateY(-1px);
	}

	.button-text {
		padding-bottom: 2px;
	}

	&.primary {
		color: $color-foyer;
	}

	&.ghost {
		background: transparent;
		border: 1px solid currentColor;
		box-shadow: none;
		transform: none;

		&:hover,
		&:focus {
			background: rgba(255, 255, 255, .2);
		}
	}

	&.light {
		border-color: white;
		color: white;
	}

	&.big {
		padding: 10px 20px;
		font-size: 1.125em;
		letter-spacing: 0.025em;

		svg {
			transform: scale(.8);
		}

		.button-text {
			padding-bottom: 3px;
		}

		@media (min-width: $mq-small) {
			padding: 14px 24px;
			font-size: 1.3em;

			svg {
				transform: scale(1);
			}
		}
	}

	span + svg {
		margin-left: .7em;
	}

	svg + span {
		margin-right: .7em;
	}
}

/**
 * Text Modifier
 */
.text-center {
	text-align: center;
	
	&.h2-like {
		// Apply this behavior only for sizing the gradient
		@supports (-webkit-text-fill-color: transparent) {
			max-width: 100%;
			width: max-content;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.text-right {
	text-align: right;
}

.text-medium {
	font-size: 1.125em;
	line-height: 1.7;
}

.text-bold {
	font-weight: bold;
}

/**
 * Divider
 */
.divider {
	height: 1px;
	margin: 40px 0;
	background: $color-blue;
	opacity: .3;
}

/**
 * Menu Button
 */
.menu-button {
	display: flex;
	background: none;
	border: 0;
	padding: 16px;
	align-items: center;
	font-size: .875em;
	font-weight: bold;
	color: inherit;
	text-transform: uppercase;
	border-radius: 3px;
	transition: all .275s;

	&:hover,
	&:focus {
		background: rgba(255, 255, 255, .2);
		outline: none;

		.menu-icon {
			&::before {
				transform: translateY(-6px);
			}
			&::after {
				transform: translateY(6px);
			}
		}
	}
}

.menu-text {
	margin-right: 8px;
}

.menu-icon {
	position: relative;
	width: 16px;
	height: 2px;
	background: white;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0; right: 0; left: 0; bottom: 0;
		background: inherit;
		transition: all .275s;
	}

	&::before {
		transform: translateY(-4px);
	}

	&::after {
		transform: translateY(4px);
	}
}

/**
 * Icon animation
 */
a,
button {
	svg {
		transition: all .275s;
	}
}
a:hover,
a:focus,
button:hover,
button:focus {
	.icon-arrow-right {
		transform: translateX(4px);
	}
}

/**
 * Main Navigations
 */

.mobile-navigation,
.mobile-navigation.is-home { // more weight on .is-home on purpose
	display: none;
}

@media (max-width: $mq-medium) {
	.mobile-navigation {
		display: flex;
		color: white;
		z-index: 100;

		&.is-open {
			z-index: auto;
		}
	}

	.doc-main {
		padding-top: 64px;
	}
}

.doc-nav {
	$second-level-ident: 72px;
	$third-level-ident: 88px;

	width: $sidebar-width;
	min-height: 100vh;
	flex-shrink: 0;
	background: $linear-gradient-main-tob top left no-repeat fixed;
	transition: all .325s;
	z-index: $doc-nav-z-index;

	~ * {
		transition: transform .325s;
	}


	&.is-home {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		overflow: auto;
		transform: translateX(100%);
	}

	@media (max-width: $mq-medium) {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		overflow: auto;
		transform: translateX(100%);
	}
	
	// Move the entire page and the menu on the homepage
	&.is-open {
		transform: translateX(0);

		~ * {
			transform: translateX(-50px);
		}
	}

	&-logo {
		padding: 40px 24px;
		text-align: center;
	}

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
		border: 0;
	}

	> ul {
		position: sticky;
		top: 8px;
		overflow: auto;
	}

	> ul > li {
		border-bottom: 1px solid rgba(255, 255, 255, .05);
	}

	ul {

		li {
			position: relative;

			&.is-toggle-only .is-toggle-only {
				font-size: 16px;

				& > button {
					padding-left: $second-level-ident;
				}
			}

			&.is-active {

				&.is-toggle-only {
					background: rgba(50, 50, 50, .2);
				}

				> a, > button {
					font-weight: bold;

					&:after {
						transform: rotate(180deg);
					}
				}

				& > ul {
					max-height: 200vh;
					padding: 12px 0;
				}
			}

			&.is-disabled {
				pointer-events: none;
				opacity: .5;
			}

			&:before {
				display: none;
			}
		}

		a, button {
			display: flex;
			align-items: center;
			flex-grow: 1;
			padding: 18px 16px 18px 32px;
			border-bottom: 0;
			color: #FFFFFF;
			font-family: $font-family-title;
			font-size: 18px;
			text-decoration: none;
			cursor: pointer;
			transition: all .3s ease;

			&:hover {
				background-color: rgba(255, 255, 255, .1);
			}

			&:active {
				background-color: rgba(255, 255, 255, .2);
			}

			.doc-nav-icon {
				display: inline-block;
				width: 24px;
				margin-right: 16px;
				vertical-align: middle;
			}
		}

		button {
			width: 100%;
			border: 0;
			background: none;
			letter-spacing: 0.01em;
			outline: none;

			&::after {
				content: '\e313';
				position: absolute;
				right: 24px;
				font-family: 'MaterialIcons';
				transition: all .275s;
			}
		}
		
		// Submenus
		ul {
			max-height: 0;
			overflow: hidden;
			transition: all .3s ease;
			background: #FFF;

			a {
				color: $color-foyer;
				font-size: 16px;
				font-weight: normal;
				padding: 15px 24px 12px $second-level-ident;

				&:hover,
				&:focus {
					background: $color-info-light;
				}
			}

			li.is-active {
				a {
					background: $color-info-light;
				}
			}

			li {
				/* Third level if needed */
				li a {
					padding-left: $third-level-ident;
				}
			}
		}
	}

	.nav-text {
		padding-top: 3px;
	}

	.locked {
		position: relative;

		a::before {
			content: "";
			position: absolute;
			left: 40px;
			top: 10px;
			font-size: 20px;
			font-family: "MaterialIcons";
			opacity: .5;
		}
	}

}

.doc-search-dropshadow {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	z-index: -1;
	transition: all .325s;

	.doc-nav.is-open ~ &, // home
	.doc-nav.is-open + .doc-main & { // other pages
		z-index: $doc-nav-z-index - 1;
		opacity: 1;
	}
}

.container {
	padding-right: 16px;
	padding-left: 16px;
}

/**
 * Title page with illustration
 */
.fds .h1-like.with-illu {
	position: relative;
	padding-top: 50px;
	margin-top: -24px;
	margin-bottom: 48px;
	min-height: 200px;
	width: auto;
	margin-left: -24px;
	margin-right: -24px;
	left: 0;
	background: white;
	box-shadow: inset 0 -16px 16px rgba(100,100,200,.05);
	
	@media (min-width: $mq-medium) {
		width: calc(100vw - 320px);
		margin-left: calc(-50vw + 160px);
		margin-right: 0;
		left: 50%;
	}

	@media (max-width: $mq-small) {
		font-size: 32px;
		text-shadow: 0 0 8px white, 0 0 8px white, 0 0 8px white, 0 0 4px white, 0 0 4px white, 0 0 2px white;
	}

	background-image: none;
	-webkit-text-fill-color: $color-foyer;
	-webkit-background-clip: none;

	span {
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}

	.illu {
		display: block;
		width: 75%;
		margin-left: auto;

		@media (min-width: $mq-medium) {
			width: 50%;
		}
	}
}

.fds {
	/**
	 * Containers
	 */
	[class^="section-"] {
		padding: 48px 0;

		@media (min-width: $mq-small) {
			padding: 88px 0;
		}
	}

	.section-primary {	
		background: $color-foyer $linear-gradient-main;
		color: #FFF;
		text-shadow: $text-shadow;

		.h2-like {
			background: none;
			-webkit-text-fill-color: #FFF;
			color: #FFF;
		}
	}

	/**
	 * TITLES
	 */
	.subtitle {
		width: 540px;
		margin: 2.5em auto 3.5em;
		max-width: 100%;
		font-size: 1.125em; // 18px;
		line-height: 1.7;
	}

	a {
		text-decoration: underline;
	}

	h2,
	h3,
	p {
		&:first-child {
			margin-top: 0;
		}
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.h1-like {
		margin-top: .25em;
		font-size: 2.2em;
		font-weight: 300;
		color: $color-foyer;

		@media (min-width: $mq-small) {
			font-size: 2.6em;
		}

		@supports (-webkit-text-fill-color: transparent) {
			background-image: $linear-gradient-primary;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;

			&::-moz-selection {
				-webkit-text-fill-color: white;
			}
			&::selection {
				-webkit-text-fill-color: white;
			}
		}
	}

	.h2-like {
		font-size: 1.8em;
		font-weight: 300;
		color: $color-foyer;

		@media (min-width: $mq-small) {
			font-size: 2.2em;
		}

		@supports (-webkit-text-fill-color: transparent) {
			background-image: $linear-gradient-primary;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;

			&::-moz-selection {
				-webkit-text-fill-color: white;
			}
			&::selection {
				-webkit-text-fill-color: white;
			}
		}

		strong {
			font-weight: 600;
		}
	}

	.h3-like {
		font-size: 1.5em;
		font-weight: 600;
		color: $color-foyer;

		@supports (-webkit-text-fill-color: transparent) {
			background-image: $linear-gradient-primary;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;

			&::-moz-selection {
				-webkit-text-fill-color: white;
			}
			&::selection {
				-webkit-text-fill-color: white;
			}
		}
	}


	.card {
		margin: 16px 8px;
		padding: 32px;
		line-height: 1.7;
		background: #FFF;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(20, 138, 200, .1);
		
		&.flex {
			@media (min-width: $mq-small) {
				display: flex;
			}
		}

		.card-illu {
			margin-right: 32px;
		}

		.h3-like {
			margin: -.25em 0 .35em;

			+ p {
				margin-top: 0;
			}
		}
	}

	/**
	 * Lists
	 */
	.peops {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: top;
		justify-content: space-around;
		flex-wrap: wrap;
		text-align: center;
		line-height: 1.5;

		li {
			margin: 32px 40px;

			@media (min-width: $mq-small) {
				margin: 48px 64px;	
			}
		}

		span {
			display: block;
		}
	}

	.peops-image {
		display: inline-block;
		line-height: 0;
		border: 2px solid rgba(255, 255, 255, .4);
		border-radius: 50%;
		width: 80px;
		height: 80px;
		overflow: hidden;

		+ p {
			margin-top: 0;
		}
	}

	.peops-firstname {
		font-size: 1.125em;
	}

	.peops-lastname {
		font-size: .875em;
		text-transform: uppercase;
		font-weight: 700;
	}

	.peops-job {
		font-size: .875em;
		color: rgba(255, 255, 255, .65);
	}

	// ---- Common style ---------------------------------------------------------------------------------------- //

	&-body {
		position: relative;
		width: 100%;
		height: 100vh;
		background: #FFFFFF;
		overflow: auto;
	}

	&-introduction {
		padding: 32px 0;
		margin: 0;
		font-size: 24px;
		font-weight: 200;
		letter-spacing: 0.01em;
		color: #666;
		background: #F8F8F8;

		p {
			display: block;
			width: $max-width;
			max-width: 100%;
			margin: 0 auto;
			padding: 0 24px;

			@media (min-width: 1680px) {
				max-width: calc(100% - 80px);
				margin-left: 80px;
			}
		}
	}

	&-h1 {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 0;
		padding: 32px 0;
		color: $color-foyer;
		background: #FFF;
		font-family: $font-family-title;
		font-size: 40px;
		font-weight: 200;
		letter-spacing: 0.01em;

		span {
			display: block;
			max-width: $max-width;
			padding: 0 8px 0 24px;

			@media (min-width: 1680px) {
				margin-left: 80px;
			}
		}

		strong {
			font-weight: 600;

			&:before {
				content: '– ';
				font-weight: 200;
			}
		}

	}

	&-h2 {
		position: relative;
		padding-bottom: 10px;
		margin: 48px 0 40px;
		color: $color-foyer;
		font-family: $font-family;
		font-size: 32px;
		font-weight: 300;

		& > .anchor {
			position: absolute;
			left: -32px;
			color: $color-grey;
			&:hover {
				color: #479ce8;
			}
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: $linear-gradient-main;
			opacity: .5;
		}
	}

	&-h3 {
		margin: 24px 0 16px 0;
		color: $color-foyer;
		font-family: $font-family;
		font-size: 24px;
		font-weight: 400;
	}

	&-h4 {
		margin: 24px 0 16px 0;
		color: $color-grey-dark;
		font-family: $font-family;
		font-size: 16px;
		font-weight: 700;
	}

	&-p {
		margin: 5px 0;
		font-family: $font-family;
		font-size: 18px;
		line-height: 1.6;
		letter-spacing: .01em;
		font-weight: 200;
		color: $color-grey-dark;
	}

	&-link {
		color: $color-blue;
		transition: color .3s ease;

		&:hover,
		&:focus {
			&:not(.is-disabled) {
				color: $color-blue-dark;
				text-decoration: underline;
			}
		}

		&.is-disabled {
			color  : $color-grey;
			cursor : not-allowed;
		}
	}

	&-container {
		max-width: 100%;
		width: $max-width;
		margin: 0 auto 40px auto;
		padding: 0 24px;

		@media (min-width: 1680px) {
			max-width: calc(100% - 80px);
			margin-left: 80px;
		}
	}

}

.main-footer {
	padding: 48px 0;
	line-height: 1.7;
	color: #FFF;
	text-shadow: $text-shadow;
	background: $color-foyer $linear-gradient-main;

	a {
		color: inherit;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		display: inline-block;
	}

	.work-img {
		margin-top: 16px;
		opacity: .5;
	}
}

.mini-footer {
	margin-top: 48px;
	padding: 48px 24px;
	background: white;
	border-top: 1px solid $color-info-light;

	img {
		margin-bottom: .5em;
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	a {
		display: inline-block;
		padding-bottom: 4px;
		border-bottom: 1px solid transparent;
		text-decoration: none;
		color: $color-foyer;

		&:hover,
		&:focus {
			border-bottom: 1px solid currentColor;
		}
	}
}

.social {
	li + li {
		margin-left: 24px;
	}
}

.network {
	li + li {
		margin-left: 64px;
	}

	a {
		display: inline-block;
		padding: 4px 0;
		font-size: 1.125em;
		text-decoration: none;
		border-bottom: 1px solid transparent;

		&:hover,
		&:focus {
			border-bottom: 1px solid rgba(255, 255, 255, .3);
		}
	}
}

/**
 * Table of Contant at the beginning of page.
 */
.fds .toc {
	margin: 40px 0;
	border-left: 2px solid $color-foyer;
	padding-left: 16px;

	.h3-like {
		margin: 0;
		padding-left: 24px;
		color: #666;
		-webkit-text-fill-color: #666;
		font-size: .875em;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		font-weight: 700;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 16px 0 0 0;
	}

	li {
		position: relative;
		margin: 0;
		padding: 4px 0 4px 24px;
		
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 20px;
			width: 16px;
			height: 2px;
			background: $color-blue-smoke-dark;
		}
	}

	a {
		display: inline-block;
		padding-bottom: 2px;
		font-size: 1.125em;
		text-decoration: none;
		border-bottom: 1px solid transparent;

		&:hover,
		&:focus {
			border-bottom-color: $color-foyer;
		}
	}
}

/**
 * Discover widget at the end of pages
 */

.discover {
	div {
		padding: 16px;
	}

	a {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 24px;
		border-radius: 8px;
		background: white;
		box-shadow: 0 4px 8px -4px rgba(0,0,0, .15);
		text-decoration: none;

		&:hover,
		&:focus {
			transform: translateY(-3px);
			box-shadow: 0 6px 16px -6px rgba(0,0,0, .2);
		}
	}

	.h3-like.h3-like {
		margin-top: 8px;
		margin-bottom: 0;
		text-align: inherit;
	}
	
	@media (min-width: $mq-overflowing) {
		a.disco-1 {
			text-align: left;
			margin-left: $padding-offset * -1;

			.h3-like {
				margin-left: 0;
			}
		}

		a.disco-2 {
			text-align: right;
			margin-right: $padding-offset * -1;

			.h3-like {
				margin-right: 0;
			}
		}
	}
}

.icon-app {
	display: block;
	border-radius: 16px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
}

/** 
 * Event timeline
 */
.timeline {
	position: relative;
	margin: 2em 0;

	@media ( min-width:640px ){
		margin: 5em 0 1em 50%;
	}
}

.time-line {
	position: absolute;
	top: 50px;
	left: -1px;
	bottom: 100px;
	width: 3px;
	z-index: 2;
	background: repeating-linear-gradient(to bottom,#f2f2f2 0,#f2f2f2 8px,transparent 8px,transparent 12px);
	overflow: hidden;

	.line {
		position: absolute;
		left: -1px;
		top: -1px;
		width: 3px;
		background: repeating-linear-gradient(to bottom,$color-foyer 0,$color-foyer 8px,transparent 8px,transparent 12px);
	}
}

.events-list {
	position: relative;
	z-index: 5;
	padding: 0;
	list-style: none;
}

.event-item {
	position: relative;
	display: flex;
	flex-direction: row;
	padding-left: 40px;
	padding-bottom: 40px;
	max-width: 372px;

	@media (min-width:640px) {
		padding-left:52px
	}

	&::before,
	&:after {
		position: absolute;
		content: '';
	}

	&:before{
		z-index: 2;
		top: 50%;
		left: -16px;
		width: 24px;
		height: 24px;
		margin-top: -40px;
		border: 4px solid $color-foyer;
		border-radius: 50%;
		background: #FFF;
		box-shadow: 0 0 0 4px #FFF;
	}

	&:after{
		top: 50%;
		left: 8px;
		height: 3px;
		width: 30px;
		margin-top: -26px;
		background: repeating-linear-gradient(to right,$color-foyer 0,$color-foyer 8px,transparent 8px,transparent 12px);

		@media (min-width:640px) {
			width: 45px;
		}
	}
}

@media (min-width:640px){
	.event-item:nth-child(odd) {
		margin-left: -372px;
		padding-right: 52px;
		padding-left: 0;
	}
	.event-item:nth-child(odd) .event-image {
		order: 2;
	}
	.event-item:nth-child(odd) .event-text-content {
		text-align: right;
		padding: 0 20px 5px 0;
		margin-left: auto;
	}
	.event-item:nth-child(odd):before {
		left: auto;
		right: -15px;
	}
	.event-item:nth-child(odd):after {
		left: auto;
		right: 6px;
	}
}

.event-image,
.event-text-content{
	align-self: center;
	flex: 0 1 auto;
}

.event-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	line-height: 0;
	box-shadow: 0 2px 2px -2px rgba(24, 0, 102, .25), 0 4px 4px -4px rgba(24, 0, 102, .25);
	border-radius: 50%;
	background: white;

	img {
		width: 48px;
		height: 48px;
	}
}

.event-text-content {
	width: 100%;
	max-width: 190px;
	padding: 0 0 5px 20px;
}

.event-time {
	color: $color-foyer;
	font-size: 1.2rem;
	font-weight: 600;
}

.doc-main .fds .event-title {
	margin: 0;
	font-size: .875em;
	font-weight: 600;

	@media (max-width:639px){
		font-size: .9em;
		line-height: 1.3;
	}
}

.js {
	.children-anim > *,
	.events-list > * {
		transition: all .350s .150s;
		transform: translateX(-20px);
		opacity: 0
	}

	@media (min-width:980px){
		.event-item:nth-child(odd){
			transform:translateX(20px)
		}
	}

	.event-item.GoGoGo {
		transform: translateX(0);
		opacity: 1
	}

	.events-list {
		transition-delay: 0!important
	}

	.event-image {
		transform: scale(0.8);
		transition: all .200s .250s
	}

	.GoGoGo .event-image {
		transform: scale(1)
	}
}

/**
 * Inline Colors
 */
.color {
	display: inline-block;
	font-weight: 600;
	align-items: center;

	.color-thumbnail {
		display: inline-block;
		vertical-align: -.1em;
		height: 16px;
		width: 16px;
		margin-left: 6px;
		margin-right: 4px;
		border: 1px solid #AAA;
		border-radius: 2px;
	}
}


/* Clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* Clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

