{% set docTitle = 'What is Foyer?' %}
{% include  'partials/html-header.html' %}

<div class="documentation" data-root>

	{% set navAbout = 'is-active' %}
	{% set navWhoIs = 'is-active' %}
	{% include 'partials/navigation.html' %}

	<div class="doc-main">
		<main class="fds">
			<h1 class="h1-like">Foyer - The Company</h1>

			<div class="intro-block">
				<p>Foyer is the first Insurance company in Luxembourg. It's an almost one century company living in its time.</p>
			</div>

			<p>
				When you work on a Design System for a company, you have to know its history, the context, the work environment and its maturity in terms of Design Culture, but also in term of Development culture and project processes.
			</p>

			<div class="toc">
				<p id="toc-title" class="h3-like">Table of Contents</p>
				<ul aria-labelledby="toc-title">
					<li>
						<a href="#foyer">Some words on Foyer Group</a>
					</li>
					<li>
						<a href="#agility">When Agility arrived</a>
					</li>
					<li>
						<a href="#ux">When UX Design arrived</a>
					</li>
				</ul>
			</div>

			<h2 class="h2-like" id="foyer">Some words on Foyer Group</h2>

			<p>
				Since its foundation in 1922, Foyer Group has been a key player in the economic and financial landscape of Luxembourg. Leader of the local insurance market since its inception, it is now present in several European countries through its three businesses: insurance, protection, and wealth management.
			</p>

			<p>
				The keys to this strength and longevity lie in the stability of family ownership and in Foyer Group’s strong local roots.
			</p>

			<p>
				Past, present and future are combined in the culture and values of Foyer Group. Its mission, its development and its projects are definitely geared towards the future. 
			</p>

			<p>
				Foyer Group is implented not only on insurance sector and work on diversify its activity to offer a panel of services for its clients. Foyer is present in <a href="https://www.foyer.lu/en">Luxembourg</a> and <a href="http://www.assurancesfoyer.be/">Belgium</a>, as a wealth insurer with <a href="https://www.wealins.com/en">Wealins</a>, as a life insurer with <a href="https://www.gblife.lu/">GB Life</a>, as asset manager and estate planner with <a href="https://www.capitalatwork.com/">CapitalatWork</a> and as International Health Insurance for Expats with <a href="https://www.foyerglobalhealth.com/individuals/">Global Health</a>.
			</p>

			<h2 class="h2-like" id="agility">When Agility arrived</h2>

			<p>
				Agility helps making teams spend more time on value and less on development. Your team will work to solve real problem, to deliver quickly, and to answer real needs for the end user.<br>
				It works real well on every size of company, and helped Foyer evolve to a new era made of values and User-Centricity.
			</p>

			<p>
				At Foyer we work mostly with the Scrum Framework which brings a new layer of communication between the teams and create healthy loops of feedback.<br>
				We work on it since 2016, even if some of the teams were already working that way without putting the "Agile" name on it.
			</p>

			<p>It's now a part of the Company: Scrum Framework is deployed as soon as possible.</p>

			<h2 class="h2-like" id="ux">When UX Design arrived</h2>

			<p>
				UX Design arrived at the same time thanks to the initiative and support of the <abbr title="Chief Information Officer">CIO</abbr> and the Executive Committee.<br>
				User-Centricity can't be more effectively represented than by a team of designers. It fits really well with the principles of agility: build products being guided by the value in term of business and users needs.
			</p>

			<p>
				While working on more and more of projects since the reputation of the UX Team grown quickly, we needed to mutualize things like: research results, UI components and usual guidelines to help on the onboarding of collaborators.
			</p>

			<p>It's how Foyer, an almost century old company, started a Design System in 2018.</p>
	
			<h2 class="h2-like text-center">Go further with:</h2>
			<div class="discover row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="why-a-design-system.html" class="disco-1">
						<p class="h3-like">Why a Design System?</p>
						<p>Want to know our approach. Follow us.</p>
					</a>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="open-innovation.html" class="disco-2">
						<p class="h3-like">Open Innovation</p>
						<p>The Foyer Strategy for a Digital Company.</p>
					</a>
				</div>
			</div>


		</main>

		{% include  'partials/html-footer.html' %}

	</div><!-- doc-main -->
</div><!-- documentation -->

	</body>
</html>
